<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>我的账房</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css"
	href="../../css/wx_ltone/weui.min.css"
	th:href="@{/css/wx_ltone/weui.min.css}" />
<link rel="stylesheet" type="text/css"
	href="../../css/wx_ltone/jquery-weui.css"
	th:href="@{/css/wx_ltone/jquery-weui.css}" />
<link rel="stylesheet" type="text/css"
	href="../../css/wx_ltone/mine.css" th:href="@{/css/wx_ltone/mine.css}" />
<link rel="stylesheet" type="text/css"
	href="../../css/wx_ltone/reset.css"
	th:href="@{/css/wx_ltone/reset.css}" />
<link rel="stylesheet" type="text/css"
	href="../../css/wx_ltone/myAccount.css"
	th:href="@{/css/wx_ltone/myAccount.css}" />
<link rel="stylesheet" type="text/css"
	href="../../css/wx_ltone/myAdvisor.css"
	th:href="@{/css/wx_ltone/myAdvisor.css}" />
<link rel="stylesheet" type="text/css"
	href="../../css/wx_ltone/mainstyle.css"
	th:href="@{/css/wx_ltone/mainstyle.css}" />
<link rel="stylesheet" type="text/css"
	href="../../css/wx_ltone/public.css"
	th:href="@{/css/wx_ltone/public.css}" />

</head>

<body style="background: #eeeef4">
	<div class="search">
		<div class="search-left">
			<a href="javascript:history.go(-1);"> <img
				th:src="@{/img/wx_ltone/icon/mine/fanhui.png}">
			</a>
		</div>
	</div>
	<div class="mdfd-content" style="overflow: visible;">
		<div class="position-relative">
			<div class="reward-show">
				<div class="reward-img">
					<span id="kldTotal"></span><br> <span id="userKld"></span>
				</div>
				<div class="not-active">
					<span id="no_active_kld"></span> <span style="font-size: 12px;">未激活快乐豆</span>
				</div>
			</div>
		</div>
		<ul class="not-active-mine">
			<li class="not-active-mineli">
				<div class="yijihuodiv_tit mine">
					<div class="yijihuodiv_titxian"></div>
					<span>我的</span>
					<div class="mine-div">
						<div class="mine-div-sum">
							<img class="mine-divimg"
								th:src="@{/img/wx_ltone/icon/mine/sk.png}"> <span
								id="duty"></span>
						</div>
						<!--<div class="mine-div-sum">
							<img class="mine-divimgs"
								th:src="@{/img/wx_ltone/icon/mine/kuailedou.png}"> <span
								id="kldAward"></span>
						</div>-->
					</div>
				</div>
			</li>
			<li class="not-active-mineli">
				<div class="yijihuodiv_tit mine">
					<div class="yijihuodiv_titxian"></div>
					<span>同学</span>
					<div class="mine-div">
						<div class="mine-div-sum">
							<img class="mine-divimgren"
								th:src="@{/img/wx_ltone/icon/mine/rs.png}"> <span
								id="myteamTotal"></span>
						</div>
						<!--<div class="mine-div-sum">
							<img class="mine-divimgs"
								th:src="@{/img/wx_ltone/icon/mine/kuailedou.png}"> <span
								id="kldTotals"></span>
						</div>-->
					</div>
				</div>
			</li>
		</ul>
		<div class="mdfd-content_huiyuans" id="showMyTeamList"></div>
	</div>
	<script src="../../static/js/wx_ltone/jquery-2.1.4.js"
		th:src="@{/js/wx_ltone/jquery-2.1.4.js}"></script>
	<script src="../../static/js/wx_ltone/fastclick.js"
		th:src="@{/js/wx_ltone/fastclick.js}"></script>
	<script src="../../static/js/wx_ltone/jquery-weui.js"
		th:src="@{/js/wx_ltone/jquery-weui.js}"></script>
	<script src="../../static/js/wx_ltone/swiper.min.js"
		th:src="@{/js/wx_ltone/swiper.min.js}"></script>
	<script src="../../static/js/util/userCookie.js"
		th:src="@{/js/util/userCookie.js}"></script>
	<script src="../../static/js/basePathConfig.js"
		th:src="@{/js/basePathConfig.js}"></script>
	<script>
	
		$(document).ready(function() {
			$.ajax({
				type : "GET", //提交方式 
				url : basePath + '/user_weixin/findUserAchievement', //路径 
				data : {
				}, //数据，这里使用的是Json格式进行传输 
				success : function(result) {
					var recordIntegral = result.data.userAchievement.records_integral; //快乐豆总数
					var integralBasics = result.data.userIntegral.integral_basics; //可使用快乐豆
					var user_money=result.data.userAchievement.user_money;//钱包  可使用快乐豆
					var integralNoActive = result.data.userAchievement.integral_no_active; //未激活快乐豆
					if (recordIntegral == null) {
						recordIntegral = 0;
					}
					if (integralBasics == null) {
						integralBasics = 0;
					}
					if (integralNoActive == null) {
						integralNoActive = 0;
					}
					//alert(JSON.stringify(result.data));
					$("#kldTotal").html("快乐豆总数：" + recordIntegral); //快乐豆总数
					$("#userKld").html("可使用快乐豆：" + user_money); //可使用快乐豆
					$("#no_active_kld").html(integralNoActive); //未激活快乐豆
					$("#duty").html("当班：" + result.data.courseCount); //我的当班
					//$("#kldAward").html("快乐豆奖励：" + result.data.kldAwardCount); //我的快乐豆奖励
					$("#myteamTotal").html("总人数：" + result.data.myTeamCount); //我的下属团队总人数
					//$("#kldTotals").html("快乐豆总数：" + result.data.myTeamKldAwardCount); //我的下属团队总人数
					var html = "";
					var showmyteamList = result.data.subordinateMap[1];
					var userName = null;
					var telPhone = null;
					//alert(showmyteamList.length);
					if (showmyteamList.length > 0) {
						for (var i = 0; i < showmyteamList.length; i++) {
							userName = showmyteamList[i].information_compellation ;
							telPhone = showmyteamList[i].information_phone;
							if (userName == null) {
								userName = "暂无";
							}
							if (telPhone == null) {
								telPhone = "暂无";
							}
							html += '<div class="yijihuodiv yijihuodiv-nr">' +
								'   <div class="yijihuodiv_tit yijihuodiv_flexa">' +
								'    <div class="yijihuodiv_flex">' +
								'      <div class="yijihuodiv_titxian"></div>' +
								'          <span>' + userName + '</span>' +
								'      </div>' +
								'    <div class="yijihuodiv_flexnum">' +
								'         <span>' + telPhone + '</span>' +
								'         <img class="yijihuodiv_flexnumimg" src="/morekaba/img/wx_ltone/icon/myAdvisor/dianhua.png">' +
								'    </div>' +
								'   </div>' +
								'  <div class="yijihuodiv_kuailedou">' +
								'     <div class="yijihuodiv_kuailedou_left">' +
								'       <span>待当班课程数</span>' +
								'     </div>' +
								'  <div class="yijihuodiv_kuailedou_left">' +
								'      <span>数量：' + showmyteamList[i].duty_num + '</span>' +
								'        <label id="recordsIntegral"></label>' +
								/*'        <img src="/morekaba/img/wx_ltone/icon/mine/kuailedou.png">' +*/
								'  </div>' +
								' </div>' +
							/*	' <div class="yijihuodiv_kuailedou">' +
								'  <div class="yijihuodiv_kuailedou_left">' +
								'   <span>积分</span>' +
								'  </div>' +
								'  <div class="yijihuodiv_kuailedou_right">' +
								'     <span>数量：' + showmyteamList[i].integrals_no_activce + '</span>' +
								'     <label id="converNum"></label>' +
								'     <img src="/morekaba/img/wx_ltone/icon/mine/jifen.png">' +
								'  </div>' +
								' </div>' +*/
								'</div>';
						}
						$('#showMyTeamList').append(html);
					} else {
						$('#showMyTeamList').append(html);
						$.alert("暂无数据");
	
					}
	
				//console.log(JSON.stringify(result));
				//initData (result.data);
				}
			});
		});
	</script>
</body>
</html>
