<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>订单详情</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/weui.min.css" th:href="@{/css/wx_ltone/weui.min.css}"/>
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/jquery-weui.css" th:href="@{/css/wx_ltone/jquery-weui.css}"/>
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/reset.css" th:href="@{/css/wx_ltone/reset.css}"/>
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/mainstyle.css" th:href="@{/css/wx_ltone/mainstyle.css}" />
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/public.css" th:href="@{/css/wx_ltone/public.css}" />
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/myOrderDetail.css" th:href="@{/css/wx_ltone/myOrderDetail.css}"/>
		
	</head>
	<body>
		<input type ="hidden" id="store_id"/>
		<div class="search">
			<div class="search-left">
				<a href="javascript:history.go(-1);">
					<img th:src="@{/img/wx_ltone/icon/mine/fanhui.png}">
				</a>
			</div>
		</div>
		<div class="mdfd-content">
			<!--订单信息-->
			<div class="order-detail-box">
				<div class="order-detail">
					<div class="order-info">
						<div class="order-img">
							<img id="store_pic" onerror="javascript:this.src='http://via.placeholder.com/100X100'">
						</div>
						<div class="default-text-color store-title" style="height: 30px;" id="store_name"></div>
						<div style="display: block;height: 30px;line-height: 30px;">
							<span class="float-l" id="all_price" style="color:#be86fc;"></span>
							<span class="float-r" id="num"></span>
						</div>
<!-- 						<div class="store-titleBtn"  id="giftCourse" onclick="orderDetailList();">赠送</div> -->
					</div>
				</div>
			</div>

			<!--订单总价-->
			<div class="order-money-box">
				<div style="border-bottom: 1px solid #f0f0f0;line-height: 40px;">
					<label style="display: none;">运险费 <span class="float-r" style="font-size:15px;">卖家赠送</span></label>
					<label style="display: none;">运费 <span class="float-r" style="font-size:15px;">卖家赠送</span></label>
				</div>
				<div style="line-height: 40px;">
					实付款<span class="float-r" id="true_price" style="color:#be86fc;"></span>
				</div>
			</div>

			<!--订单编号-->
			<div class="order-number-box">
				<div style="line-height: 40px;">
					<label style="display: block;">
						订单编号:<span id="order_id"></span>
					</label>
					<label style="display: none;">
						物流公司:<span id="waybillCompany"></span>
					</label>
					<label style="display: none;">
						运单编号:<span id="waybillNumber"></span>
					</label>
					<label style="display: block;">
						下单时间:<span id="order_add_date"></span>
					</label>
					<label style="display: none;">
						付款时间:<span id="pay_date"></span>
					</label> 
					<label style="display: none;">
						发货时间:<span id="send_date"></span>
					</label>
				</div>
			</div>
		</div>
		<script src="../../static/js/wx_ltone/jquery-2.1.4.js" th:src="@{/js/wx_ltone/jquery-2.1.4.js}" ></script>
		<script src="../../static/js/wx_ltone/fastclick.js" th:src="@{/js/wx_ltone/fastclick.js}" ></script>
		<script src="../../static/js/wx_ltone/jquery-weui.js" th:src="@{/js/wx_ltone/jquery-weui.js}" ></script>
		<script src="../../static/js/wx_ltone/common.js" th:src="@{/js/wx_ltone/common.js}" ></script>
		<script src="../../static/js/basePathConfig.js" th:src="@{/js/basePathConfig.js}" ></script>
		<script>
			var orderId =null;
			$(function() {
				FastClick.attach(document.body);
				var  order_id = getUrlParam('order_id');
				// 查询单个订单
				$.ajax({ 
			    	type : "GET", //提交方式 
			    	url : basePath + '/order_weixin/findOrderOne',
			    	data : { 
			     		order_id: order_id
			    	},//数据，这里使用的是Json格式进行传输 
			        success : function(result) {
			    	 // storeId = result.data.map.store_id; //商品id
			    	//判断该课程是否为大礼包课程，若为则赠送跳转，否则隐藏赠送操作
			     		/* if(result.data.map.is_gift != 2){
			     		 	$("#giftCourse").hide();
			     		 } */
			     	 // 返回数据根据结果进行相应的处理
			      		if(result.data){
			      			var storeName = result.data.map.store_name; // 商品名
			      			var storePictureArr = result.data.map.store_picture.split(';'); // 图片
			      			var allprice = result.data.orderBasics.all_price; // 总价格
			      			var storeAmount = result.data.orderBasics.store_amount; // 数量
			      			 orderId = result.data.orderBasics.order_id; // 订单编号
			      			$('#store_pic').attr("src", baseImgPath+storePictureArr[0]);
			      			$('#store_name').html(storeName);
			      			$('#all_price').html('￥'+ allprice.toFixed(2));
			      			$('#num').html('X'+storeAmount);
			      			$('#true_price').html('￥'+ allprice.toFixed(2));
			      			$('#order_id').html(orderId);
			      			$('#order_add_date').html(formatDateTimeStr(result.data.orderBasics.order_add_date,1));
			      			var orderStatus = result.data.orderBasics.order_status; // 订单状态
			      			if(orderStatus > 2){
								if(orderStatus > 3){
									if(orderStatus == 4 || orderStatus == 5 || orderStatus == 9 || orderStatus == 11){
										var send_date = result.data.ost.send_date;
										$('#waybillCompany').html(result.data.ost.courier_services_company);
										$('#waybillCompany').parent().attr('display', 'block');
										$('#waybillNumber').html(result.data.ost.waybill_number);
										$('#waybillNumber').parent().css('display', 'block');
										$('#send_date').html(formatDateTimeStr(send_date,1));
										$('#send_date').parent().css('display', 'block');
									}
								}
								var payment_date = result.data.orderBasics.payment_date;
								$('#pay_date').html(formatDateTimeStr(payment_date,1));
								$('#pay_date').parent().css('display', 'block');
							}
			      		}
			    	},
		     		error: function (err){
			     		$.toast('网络错误，请稍后重试...');
			     		return;
		     		}
			    });
			});
			/*跳转到大礼包列表页面*/
		function orderDetailList(){
			window.location = basePath + '/HomeController/myOrderDetailList'+"?order_id="+orderId;
		}
			
		
		
		</script>
	</body>
</html>
