<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>我的钱包</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/weui.min.css" th:href="@{/css/wx_ltone/weui.min.css}"/>
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/jquery-weui.css" th:href="@{/css/wx_ltone/jquery-weui.css}"/>
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/reset.css" th:href="@{/css/wx_ltone/reset.css}"/>
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/mainstyle.css" th:href="@{/css/wx_ltone/mainstyle.css}" />
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/public.css" th:href="@{/css/wx_ltone/public.css}" />
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/myWallet.css" th:href="@{/css/wx_ltone/myWallet.css}"/>
	</head>
	<body>
		<div class="search">
			<div class="search-left">
				<a href="javascript:history.go(-1);">
					<img th:src="@{/img/wx_ltone/icon/mine/fanhui.png}">
				</a>
			</div>
		</div>
		<div class="mdfd-content default-text-color">
			<div class="wallet-box">
				<div class="wallet">
					<div class="wallet-tip">账户余额：</div>
					<div class="wallet-money" id="balance"></div>
					<div class="wallet-btn-ground">
						<div class="wallet-btn" onclick="is_identifyRecharge();">
							<img th:src="@{/img/wx_ltone/icon/mine/recharge-icon.png}">&nbsp;&nbsp;充值
						</div>
						<div class="wallet-btn" onclick="is_identifyWithdraw();">
							<img th:src="@{/img/wx_ltone/icon/mine/withdraw-icon.png}">&nbsp;&nbsp;提现
						</div>
					</div>
				</div>
			</div>
			<div class="detail-box">
				<div class="detail-tip">
					<span style="font-size: 16px;color:#333;font-weight: none;">明细</span>
				</div>
				<div id="integralAccount"></div>
			</div>
		</div>
		<script src="../../static/js/wx_ltone/jquery-2.1.4.js" th:src="@{/js/wx_ltone/jquery-2.1.4.js}" ></script>
		<script src="../../static/js/wx_ltone/fastclick.js" th:src="@{/js/wx_ltone/fastclick.js}" ></script>
		<script src="../../static/js/wx_ltone/jquery-weui.js" th:src="@{/js/wx_ltone/jquery-weui.js}" ></script>
		<script src="../../static/js/wx_ltone/common.js" th:src="@{/js/wx_ltone/common.js}" ></script>
		<script src="../../static/js/basePathConfig.js" th:src="@{/js/basePathConfig.js}" ></script>
		<script>
			$(function() {
				FastClick.attach(document.body);
				// 账户余额
				var balance = '[[${money}]]';
				$('#balance').html(parseFloat(balance).toFixed(2)); 
				
				// 查询流水记录
				$.ajax({ 
			    	type : "GET", //提交方式 
			    	url : basePath + '/maid/findUserMoneyAccount',
			    	data : { 
			     		
			    	},//数据，这里使用的是Json格式进行传输 
			    	success : function(result) {
			     		//返回数据根据结果进行相应的处理 
			     		// alert(JSON.stringify(result));
			      		if(result.data){
			      			getWalletDetail(result.data);
			      		}
			    	},
		     		error: function (err){
			     		$.toast('网络错误，请稍后重试...');
			     		return;
		     		}
			    });
			});
			
			// 流水数据
			function getWalletDetail(data){
			  	var walletDeatail = data;
			  	var htmlStr = '';
			  	for(var i = 0;i < walletDeatail.length; i++){
			  		htmlStr += '<div class="detail-single">'+
			  				   '	<h5 class="default-text-color">'+ walletDeatail[i].account_explain +'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>'+ (walletDeatail[i].account_value).toFixed(2) +'元</span></h5>'+
			  				   '	<div class="detail-base"><span>'+ formatDateTimeStr(walletDeatail[i].account_add_date, 1) +'</span></div>'+
			  				   '</div> ';
			  	}
			  	document.getElementById('integralAccount').insertAdjacentHTML('afterbegin',htmlStr);
			}			
			
			/*提现认证*/
		  	function  is_identifyWithdraw(){
	  			// 提现认证
				$.ajax({ 
			    	type : "GET", //提交方式 
			    	url : basePath + '/user_weixin/findUserInformOne',
			    	data : { 
			     		currentPage:1
			    	},//数据，这里使用的是Json格式进行传输 
			    	success : function(result) {
			     		//返回数据根据结果进行相应的处理 
			     		// alert(JSON.stringify(result));
			      		if(result.data){
			      			findBankDetailInfo(result.data);
			      		}
			    	},
		     		error: function (err){
			     		$.toast('网络错误，请稍后重试...');
			     		return;
		     		}
			    });
	  	  	}
	  	  	
	  	  	// 充值认证
	  	  	function is_identifyRecharge(){
	  	  		$.alert('开发中...');
	  	  	}

	  	  	/*获取用户信息实名,用户id*/
			function findBankDetailInfo(data){
				if(data.user_grade_id<3){
					alert("五星紫罗兰方可提现，快快升级吧！");
					return;
				}
				if(data.information_compellation == '' || data.information_compellation == null){
					$.confirm('是否立即实名认证?', '实名认证', function() {
						window.location.href = basePath + '/maid/personAddIdentityCard';
					}, function() {
					 	//取消操作
					 	$.toast('取消操作');
					  	return false;
					});
				}else if(data.information_compellation != ''){
			 		window.location.href = basePath +  '/maid/myWalletWithdraw?balance=' + $('#balance').html();
				}
			}
			
		</script>
	</body>
</html>
