<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>身份证信息</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/weui.min.css" th:href="@{/css/wx_ltone/weui.min.css}"/>
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/jquery-weui.css" th:href="@{/css/wx_ltone/jquery-weui.css}"/>
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/reset.css" th:href="@{/css/wx_ltone/reset.css}"/>
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/mainstyle.css" th:href="@{/css/wx_ltone/mainstyle.css}" />
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/public.css" th:href="@{/css/wx_ltone/public.css}" />
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/mine.css" th:href="@{/css/wx_ltone/mine.css}"/>
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/myAdvisor.css" th:href="@{/css/wx_ltone/myAdvisor.css}"/>
		
	</head>

	<body>
		<div class="search">
			<div class="search-left">
				<a  href="javascript:history.go(-1);">
					<img th:src="@{/img/wx_ltone/icon/mine/fanhui.png}">
				</a>
			</div>
		</div>
		<div class="mdfd-content">
			<ul class="mui-table-view">
				<li class="custom-table-view-cell">
					<a>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：<span id="user_name"></span></a>
				</li>
				<li class="custom-table-view-cell">
					<a>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：<span id="sex"></span></a>
				</li>
				<li class="custom-table-view-cell">
					<a>手机号码：<span id="telNum"></span></a>
				</li>
				<li class="custom-table-view-cell">
					<a>身份证号码：<span id="id_card"></span></a>
				</li>
			</ul>

			<div class="submit-add-idinfo-box">
				<div onclick="window.location = basePath + '/maid/personAddIdentityCard'" class="weui-btn weui-btn_primary btn">增改身份信息</div>
			</div>

		</div>
		<script src="../../static/js/wx_ltone/jquery-2.1.4.js" th:src="@{/js/wx_ltone/jquery-2.1.4.js}" ></script>
		<script src="../../static/js/wx_ltone/fastclick.js" th:src="@{/js/wx_ltone/fastclick.js}" ></script>
		<script src="../../static/js/wx_ltone/jquery-weui.js" th:src="@{/js/wx_ltone/jquery-weui.js}" ></script>
		<script src="../../static/js/basePathConfig.js" th:src="@{/js/basePathConfig.js}" ></script>
		<script>
			$(function() {
				FastClick.attach(document.body);
			});
			
			$(document).ready(function() {
				// 增改身份证信息
				$.ajax({ 
			    	type : "get", //提交方式 
			     	url : basePath + '/user_weixin/findUserInformOne',
			     	// contentType:"application/json",
			     	data : { } ,//数据，这里使用的是Json格式进行传输 
			     	success : function(result) {
			     		//返回数据根据结果进行相应的处理 
			      		console.log(JSON.stringify(result));
			      		showInfomart(result);
			     	},
			     	error: function (err){
			     		$.toast('网络错误，请稍后重试...');
			     		return;
			     	}
			    });
			})

			function showInfomart(IDInfo) {
				var IDInfo = IDInfo.data;
				if (IDInfo) {
					var sex = "";
					if (IDInfo.information_sex == 1) {
						sex = "男";
					} else if (IDInfo.information_sex == 0) {
						sex = "女";
					} else {
						sex = "未知";
					}
					$('#user_name').html(IDInfo.information_compellation);
					$('#sex').html(sex);
					$('#telNum').html(formatTelNumber(IDInfo.information_phone));
					$('#id_card').html(formatBankNumber(IDInfo.information_card));
				}
			}

			// 隐藏银行卡号
			function formatBankNumber(bankNumber) {
				return bankNumber.substr(0, 4) + "********" + bankNumber.substr(-4);
			}

			// 隐藏手机号
			function formatTelNumber(telNum) {
				return telNum.substr(0, 3) + "********" + telNum.substr(-4);
			}
		</script>
		
	</body>
</html>
