<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>新增银行卡信息</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/weui.min.css" th:href="@{/css/wx_ltone/weui.min.css}" />
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/jquery-weui.css" th:href="@{/css/wx_ltone/jquery-weui.css}" />
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/reset.css" th:href="@{/css/wx_ltone/reset.css}" />
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/mainstyle.css" th:href="@{/css/wx_ltone/mainstyle.css}" />
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/public.css" th:href="@{/css/wx_ltone/public.css}" />
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/mine.css" th:href="@{/css/wx_ltone/mine.css}" />
		<link rel="stylesheet" type="text/css" href="../../css/wx_ltone/personAddBankCard.css" th:href="@{/css/wx_ltone/personAddBankCard.css}" />

	</head>
	<body>
		<div class="search">
			<div class="search-left">
				<a href="javascript:history.go(-1);"> <img th:src="@{/img/wx_ltone/icon/mine/fanhui.png}">
				</a>
			</div>
		</div>
		<div class="mdfd-content">
			<ul class="mui-table-view">
				<li class="custom-table-view-cell">
					<div class="mui-input-row">
						<label><span>*</span>持&nbsp;&nbsp;卡&nbsp;&nbsp;人：</label>
						<input id="real_name" type="text" disabled="disabled" style="background-color: #fff;">
					</div>
				</li>

				<li class="custom-table-view-cell">
					<div class="mui-input-row">
						<label><span>*</span>银&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;行：</label>
						<select id="bank" name="blank">
							<option>选择银行</option>
							<option value="工商银行">工商银行</option>
							<option value="建设银行">建设银行</option>
							<option value="农业银行">农业银行</option>
							<option value="邮政银行">邮政银行</option>
							<option value="中国银行">中国银行</option>
							<option value="交通银行">交通银行</option>
							<option value="光大银行">光大银行</option>
							<option value="邮政银行">邮政银行</option>
							<option value="广发银行">广发银行</option>
							<option value="招商银行">招商银行</option>
							<option value="中信银行">中信银行</option>
							<option value="民生银行">民生银行</option>
							<option value="平安银行">平安银行</option>
							<option value="浦发银行">浦发银行</option>
							<option value="华夏银行">华夏银行</option>
						</select>
					</div>
				</li>
				<li class="custom-table-view-cell">
					<div class="mui-input-row">
						<label><span>*</span>开户行信息：</label> <input id="depositBankInfo" type="text" placeholder="开户行信息">
					</div>
				</li>
				<li class="custom-table-view-cell">
					<div class="mui-input-row">
						<label><span>*</span>卡&nbsp;&nbsp;类&nbsp;&nbsp;别：</label> <select id="bank_cardtype" name="blank-cardtype">
							<option>选择卡类别</option>
							<option value="0">储蓄卡</option>
							<option value="1">信用卡</option>
						</select>
					</div>
				</li>

				<li class="custom-table-view-cell">
					<div class="mui-input-row">
						<label><span>*</span>卡&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</label>
						<input id="card-num" type="number" placeholder="银行卡号">
					</div>
				</li>

				<li class="custom-table-view-cell">
					<div class="mui-input-row">
						<label><span>*</span>预留电话：</label> <input id="reserved_tel" type="number" placeholder="银行卡预留号码">
					</div>
				</li>
			</ul>
			<div style="font-size:14px;color:red;text-align: center;margin:30px auto;">温馨提示:请认真复核所填内容，以免造成不能向您汇款！</div>
			<div class="submit-add-idinfo-box">
				<!-- <a href="../mine/personAddBankCard.html"
				class="weui-btn weui-btn_primary btn">提交</a> -->
				<input type="button" class="weui-btn weui-btn_primary btn" onclick="submitIDCardInfo()" value="提交">
			</div>
		</div>
		<script src="../../static/js/wx_ltone/jquery-2.1.4.js" th:src="@{/js/wx_ltone/jquery-2.1.4.js}"></script>
		<script src="../../static/js/wx_ltone/fastclick.js" th:src="@{/js/wx_ltone/fastclick.js}"></script>
		<script src="../../static/js/wx_ltone/jquery-weui.js" th:src="@{/js/wx_ltone/jquery-weui.js}"></script>
		<script src="../../static/js/basePathConfig.js" th:src="@{/js/basePathConfig.js}"></script>
		<script>
			$(function() {
				FastClick.attach(document.body);

				// 查询姓名
				$.ajax({
					type: "GET", //提交方式 
					url: basePath + '/user_weixin/findUserInformOne',
					data: {}, //数据，这里使用的是Json格式进行传输 
					success: function(result) {
						//返回数据根据结果进行相应的处理 
						if (result.data) {
							$('#real_name').val(result.data.information_compellation);
						}
					},
					error: function(err) {
						$.toast('网络错误，请稍后重试...');
						return;
					}
				});
			});

			// 提交身份信息
			function submitIDCardInfo() {
				var realName = $('#real_name').val(); // 真实姓名
				if (!realName) {
					$.alert("您的姓名为空，请填写...");
					return;
				}
				var bank_id = document.getElementById('bank');
				var bank = getSelectedIndex(bank_id); // 选择银行
				if (bank == '选择银行') {
					$.alert('请选择银行...');
					return;
				}
				var depositBank_Info = $('#depositBankInfo').val();
				if (!depositBank_Info) {
					$.alert('请填写开户行信息...');
					return;
				}

				var bankCardtype_id = document.getElementById('bank_cardtype');
				var bankCardtype = getSelectedIndex(bankCardtype_id); // 选择银行卡类别
				if (bankCardtype == '选择卡类别') {
					$.alert('请选择银行卡类别...');
					return;
				}

				var cardNum = $('#card-num').val(); // 银行卡号
				if (!cardNum) {
					$.alert("您的银行卡号为空，请填写...");
					return;
				}

				if (!luhnCheck(cardNum)) {
					$.alert('您输入的银行卡号不正确，请重新输入...');
					return;
				}

				var reservedTel = $('#reserved_tel').val(); // 预留手机号码
				if (!reservedTel) {
					$.alert("您的预留手机号码为空，请填写...");
					return;
				}
				if (!is_tellPhone(reservedTel)) {
					$.alert("您的预留手机号码不正确，请重新填写...");
					return;
				}

				//从页面获取银行信息
				var affiliated_bank = $('#bank').val();
				//从页面获取开户行信息
				var depositBank_info = $('#depositBankInfo').val();
				//从页面获取卡类别信息
				var card_type = $('#bank_cardtype').val();
				//从页面获取卡号信息
				var bank_card = $('#card-num').val();
				//从页面获取预留电话信息
				var tel = $('#reserved_tel').val();

				// 提交银行卡
				$.ajax({
					type: "GET", //提交方式 
					url: basePath + '/weixin_bank/addBank',
					data: {
						cardholder_name: realName,
						bank_card: bank_card,
						affiliated_bank: affiliated_bank,
						depositBank_info: depositBank_info,
						tel: tel,
						card_type: card_type
					}, //数据，这里使用的是Json格式进行传输 
					success: function(result) {
						$.toast(result.message);
						window.history.back(-1);
					},
					error: function(err) {
						$.toast('网络错误，请稍后重试...');
						return;
					}
				});
			}

			/**
			 * 获取select选中项
			 * @param {Object} objSelected select对象
			 */
			function getSelectedIndex(objSelected) {
				var selectedSex = objSelected.options[objSelected.selectedIndex].value;
				return selectedSex;
			}

			/**
			 * 判断是否是手机号码
			 * @param {Object} tellphone 手机号码
			 */
			function is_tellPhone(tellphone) {
				var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;
				if (!myreg.test(tellphone)) {
					return false;
				} else {
					return true;
				}
			}

			/**
			 * 银行卡号码检测
			 * @param {Object} cardNum 银行卡号
			 */
			function luhnCheck(cardNum) {
				var lastNum = cardNum.substr(cardNum.length - 1, 1); //取出最后一位（与luhn进行比较）
				var first15Num = cardNum.substr(0, cardNum.length - 1); //前15或18位
				var newArr = new Array();
				for (var i = first15Num.length - 1; i > -1; i--) { //前15或18位倒序存进数组
					newArr.push(first15Num.substr(i, 1));
				}
				var arrJiShu = new Array(); //奇数位*2的积 <9
				var arrJiShu2 = new Array(); //奇数位*2的积 >9
				var arrOuShu = new Array(); //偶数位数组
				for (var j = 0; j < newArr.length; j++) {
					if ((j + 1) % 2 == 1) { //奇数位
						if (parseInt(newArr[j]) * 2 < 9) arrJiShu.push(parseInt(newArr[j]) * 2);
						else arrJiShu2.push(parseInt(newArr[j]) * 2);
					} else //偶数位
						arrOuShu.push(newArr[j]);
				}

				var jishu_child1 = new Array(); //奇数位*2 >9 的分割之后的数组个位数
				var jishu_child2 = new Array(); //奇数位*2 >9 的分割之后的数组十位数
				for (var h = 0; h < arrJiShu2.length; h++) {
					jishu_child1.push(parseInt(arrJiShu2[h]) % 10);
					jishu_child2.push(parseInt(arrJiShu2[h]) / 10);
				}

				var sumJiShu = 0; //奇数位*2 < 9 的数组之和
				var sumOuShu = 0; //偶数位数组之和
				var sumJiShuChild1 = 0; //奇数位*2 >9 的分割之后的数组个位数之和
				var sumJiShuChild2 = 0; //奇数位*2 >9 的分割之后的数组十位数之和
				var sumTotal = 0;
				for (var m = 0; m < arrJiShu.length; m++) {
					sumJiShu = sumJiShu + parseInt(arrJiShu[m]);
				}

				for (var n = 0; n < arrOuShu.length; n++) {
					sumOuShu = sumOuShu + parseInt(arrOuShu[n]);
				}

				for (var p = 0; p < jishu_child1.length; p++) {
					sumJiShuChild1 = sumJiShuChild1 + parseInt(jishu_child1[p]);
					sumJiShuChild2 = sumJiShuChild2 + parseInt(jishu_child2[p]);
				}
				//计算总和
				sumTotal = parseInt(sumJiShu) + parseInt(sumOuShu) + parseInt(sumJiShuChild1) + parseInt(sumJiShuChild2);

				//计算luhn值
				var k = parseInt(sumTotal) % 10 == 0 ? 10 : parseInt(sumTotal) % 10;
				var luhn = 10 - k;

				if (lastNum == luhn) {
					// 银行卡正确
					return true;
				} else {
					// 银行卡错误
					return false;
				}
			}
		</script>
	</body>
</html>
