<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<div th:replace="common/common :: common_resource"></div>
    <title>财务订单查询</title>
    <style type="text/css">
    	.layui-layer-demo{
    		background-color: #333333;
    	}
		.layui-form-div{
			padding: 9px 15px;
		}
    </style>
</head>
  
<body>
<!--列表-->
<div id="rapp">
    <div v-show="showList">
    	<!-- shiro按钮权限示例:<p shiro:hasPermission="sys:menu">有权限</p> -->
    	<fieldset class="layui-elem-field site-demo-button" style="margin-top: 10px;">
<!-- 		    <button shiro:hasPermission="sys:menu" class="layui-btn layui-btn-primary" @click="add"><i class="layui-icon layui-icon-add-1"></i>新增</button> -->
			<div class="layui-input-inline" style="width:300px;">
	           <form class="layui-form">
	           		<label class="layui-form-label">订单状态</label>
			    <div class="layui-input-block">
			      <select name="order_status" lay-filter="order_status">
			        <option value="0" selected="">全部</option>
			        <option value="1">待收款</option>
			        <option value="2">待付款</option>
			        <option value="3">待发货</option>
			        <option value="4">已发货</option>
			        <option value="5">已收货</option>
			        <option value="9">已评价</option>
			        <option value="11">完成订单</option>
			      </select>
			    </div>
	           </form>
	        </div>
		</fieldset>
	    <table class="layui-table" lay-filter="test">
	        <thead>
	            <tr>
	                <th>编号</th>
	                <th>商品名称</th>
	                <th>订单状态</th>
	                <th>下单时间</th>
	                <th>购买人ID</th>
	                <th>收货人姓名</th>
	                <th>购买数量</th>
	                <th>总价</th>
	                <th>操作</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr v-for="(item,index) in data">
	                <td>{{item.order_id}}</td>
	                <td>{{item.store_name}}</td>
	                <td v-if="item.order_status==1">待收款</td>
	                <td v-if="item.order_status==2">待付款</td>
	                <td v-if="item.order_status==3">待发货</td>
	                <td v-if="item.order_status==4">已发货</td>
	                <td v-if="item.order_status==5">已收货</td>
	                <td v-if="item.order_status==6">取消订单审核中</td>
	                <td v-if="item.order_status==7">退款中</td>
	                <td v-if="item.order_status==8">订单已取消</td>
	                <td v-if="item.order_status==9">已评价</td>
	                <td v-if="item.order_status==10">申请退货</td>
	                <td v-if="item.order_status==11">完成订单</td>
	                <td v-if="item.order_status==12">同意退款</td>
	                <td v-if="item.order_status==13">拒绝退款</td>
	                <td v-if="item.order_status==14">同意退货</td>
	                <td v-if="item.order_status==15">拒绝退货</td>
	                <td>{{formatDateTimeStr(item.payment_date,1)}}</td>
	                <td>{{item.user_basics_id}}</td>
	                <td>{{item.user_name}}</td>
	                <td>{{item.store_amount}}</td>
	                <td>{{item.all_price}}</td>
	                <td>
	                	<a v-if="item.order_status==2" class="layui-btn layui-btn-xs" lay-event="edit" @click='xianxiashoukuan(item.order_id)'><i class="layui-icon layui-icon-notice"></i>线下收款</a>
						<a v-if="item.order_status==4 || item.order_status==5" class="layui-btn layui-btn-xs" lay-event="edit" @click='wuliuxinxi(index)'><i class="layui-icon layui-icon-notice"></i>物流信息</a>
						<a v-if="item.order_status==1" class="layui-btn layui-btn-xs" lay-event="editPermission" @click='shoukuan(item.order_id)'><i class="layui-icon layui-icon-auz"></i>收款</a>
	                </td>
	            </tr>
	        </tbody>
	    </table>
    	<!--分页容器-->
		<div id="pagination"></div>
    </div>
</div>
<script type="text/javascript">
		//使用layui分页参数
	    var pageIndex = 1;
		var pageSize = 10;
		var totalCount = 0;
		//物流信息
		var wuliuxinxi="";
		//初始化vue对象
		var vm = new Vue({
		    el: "#rapp",
		    data: {
		        data: null,
		        showList: true,
		        title: null,
		        order: {}
		    },
		     methods: {
		    	wuliuxinxi: function (index) {
		           var html="<div class='layui-card' id='icon_pic_card'>";
// 						  html+="<div class='layui-card-header' style='background-color: #333333;color:#fff'>物流信息</div>";
						  html+="<form class='layui-form' style='margin-top:10px;'>";
						  html+="<div class='layui-form-item'>";
					      html+="<label class='layui-form-label'>姓       名:</label>";
					      html+="<div class='layui-form-div'>"+wuliuxinxi[index].user_name+"</div>";
						  html+="</div>";
						  html+="<div class='layui-form-item'>";
					      html+="<label class='layui-form-label'>商       品:</label>";
					      html+="<div class='layui-form-div'>"+wuliuxinxi[index].store_name+"</div>";
						  html+="</div>";
						  html+="<div class='layui-form-item'>";
					      html+="<label class='layui-form-label'>电       话:</label>";
					      html+="<div class='layui-form-div'>"+wuliuxinxi[index].tel_phone+"</div>";
						  html+="</div>";
						  html+="<div class='layui-form-item'>";
					      html+="<label class='layui-form-label'>收货地址:</label>";
					      html+="<div class='layui-form-div'>"+wuliuxinxi[index].order_addr+"</div>";
						  html+="</div>";
						  html+="<div class='layui-form-item'>";
					      html+="<label class='layui-form-label'>快递公司:</label>";
					      html+="<div class='layui-form-div'>"+wuliuxinxi[index].courier_services_company+"</div>";
						  html+="</div>";
						  html+="<div class='layui-form-item'>";
					      html+="<label class='layui-form-label'>运  单  号:</label>";
					      html+="<div class='layui-form-div'>"+wuliuxinxi[index].waybill_number+"</div>";
						  html+="</div>";
						  html+="<div class='layui-form-item'>";
					      html+="<label class='layui-form-label'>发货时间:</label>";
					      html+="<div class='layui-form-div'>"+formatDateTimeStr(wuliuxinxi[index].send_date,1)+"</div>";
						  html+="</div>";
						  html+="</form>";
						  html+="<div class='layui-card-body'>";
						  html+="</div>";
						html+="</div>";
		        	layer.open({
					  type: 1,
					  title: '物流信息',
					  closeBtn: 0,
					  area: '350px',
					  anim: 4,
					  skin: 'layui-layer-demo', //样式类名
					  shadeClose: true,
					  content: html
					});
		        },
		        shoukuan :function(order_id){
					layer.confirm('是否已确认收款?',{btn: ['确定','取消']},function(){
					   $.post(basePath+"/admin_order/shoukuan/"+order_id,function(data) {
			        		layer.msg(data.message);
			        	});
					}, function(){
					   layer.msg('取消操作', {icon: 2});
					});
	        	},
	        	xianxiashoukuan :function(order_id){
					layer.confirm('是否已线下确认收款?',{btn: ['确定','取消']},function(){
					   $.post(basePath+"/admin_order/xianxiashoukuan/"+order_id,function(data) {
			        		layer.msg("线下收款成功！");
                           window.location.reload();
			        	});
					}, function(){
					   layer.msg('取消操作', {icon: 2});
					});
	        	},
		        fahuo :function(order_id,user_name,store_name,tel_phone,order_addr){
					  var html="<form class='layui-form' style='margin-top:10px;' id='fahuo_form'>";
						  html+="<div class='layui-form-item' style='width:350px;'>";
					      html+="<label class='layui-form-label'>姓  名：</label>";
					      html+="<div class='layui-input-block'>";
					      html+="<input readonly='true' type='text' name='user_name' lay-verify='user_name' value='"+user_name+"' class='layui-input'>";
					      html+="</div>";
						  html+="</div>";
						  html+="<div class='layui-form-item' style='width:350px;'>";
					      html+="<label class='layui-form-label'>商   品：</label>";
					      html+="<div class='layui-input-block'>";
					      html+="<input readonly='true' type='text' name='store_name' lay-verify='store_name' value='"+store_name+"' class='layui-input'>";
					      html+="</div>";
						  html+="</div>";
						  html+="<div class='layui-form-item' style='width:350px;'>";
					      html+="<label class='layui-form-label'>电   话：</label>";
					      html+="<div class='layui-input-block'>";
					      html+="<input readonly='true' type='text' name='tel_phone' lay-verify='tel_phone' value='"+tel_phone+"' class='layui-input'>";
					      html+="</div>";
						  html+="</div>";
						  html+="<div class='layui-form-item' style='width:350px;'>";
					      html+="<label class='layui-form-label'>收货地址：</label>";
					      html+="<div class='layui-input-block'>";
					      html+="<input readonly='true' type='text' name='order_addr' lay-verify='order_addr' value='"+order_addr+"' class='layui-input'>";
					      html+="</div>";
						  html+="</div>";
						  html+="<div class='layui-form-item' style='width:350px;'>";
					      html+="<label class='layui-form-label'>快递公司：</label>";
					      html+="<div class='layui-input-block'>";
					      html+="<input type='text' name='courier_services_company' lay-verify='courier_services_company' class='layui-input'>";
					      html+="</div>";
						  html+="</div>";
						  html+="<div class='layui-form-item' style='width:350px;'>";
					      html+="<label class='layui-form-label'>运  单  号：</label>";
					      html+="<div class='layui-input-block'>";
					      html+="<input type='text' name='waybill_number' lay-verify='waybill_number' class='layui-input'>";
					      html+="</div>";
						  html+="</div>";
						  html+="<div class='layui-form-item' style='width:350px;'>";
					      html+="<div class='layui-input-block'>";
					      html+="<button type='button' onclick=\"saveFahuo('"+order_id+"')\" style='width:240px;' class='layui-btn'><i class='layui-icon layui-icon-ok'></i>提交</button>";
					      html+="</div>";
						  html+="</div>";
						  html+="</form>";
		        	layer.open({
					  type: 1,
					  title: '发货',
					  closeBtn: 0,
					  area: '400px',
					  anim: 4,
					  skin: 'layui-layer-no', //样式类名
					  shadeClose: true,
					  content: html
					});
		        },
	        }
	    });
		pagination(pageIndex,pageSize);
		layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element','form','slider'], function(){
		    var laydate = layui.laypage,
		    layer = layui.layer, //弹层
		    table = layui.table, //表格
		    carousel = layui.carousel, //轮播
		    upload = layui.upload, //上传
		    element = layui.element, //元素操作
		    slider = layui.slider, //滑块
		    form = layui.form,
		    laypage = layui.laypage
		    laypage.render({
		        elem: 'pagination'
		        , count: totalCount
		        , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
		        , jump: function (obj, first) {
		            //点击非第一页页码时的处理逻辑。比如这里调用了ajax方法，异步获取分页数据
		            if (!first) {
		                pagination(obj.curr, obj.limit);//第二个参数不能用变量pageSize，因为当切换每页大小的时候会出问题
		                //alert(obj.curr, obj.limit);
		                pageIndex = obj.curr;
						pageSize = obj.limit;
		            }
		        },
		        
		    });
		    //layui下拉框选择事件
		    form.on('select(order_status)', function(data){
// 				console.log(data.elem); //得到select原始DOM对象
// 				console.log(data.value); //得到被选中的值
// 				console.log(data.othis); //得到美化后的DOM对象
				pagination(pageIndex,pageSize,data.value)
			});

		});
		function pagination(pageIndex,pageSize,order_status){
			//查询条件
		    var param = {
		        pageIndex: pageIndex,
		        pageSize: pageSize,
		        order_status: order_status
		        //其它查询条件可在下面添加
		    };
		    $.ajax({
		        type: 'POST',
		        url: basePath+'/admin_order/adminFindOrderStatusByPage',
		        dataType: 'json',
                data: param,
		        async: false,//这里设置为同步执行，目的是等数据加载完再调用layui分页组件，不然分页组件拿不到totalCount的值
		        success: function (data) {
		            vm.data = data.data.list;
		            wuliuxinxi=data.data.list;
		            totalCount = data.data.total;
		        }
		    });
		};
		//发货提交
		function saveFahuo(order_id){
			var courier_services_company=$("#fahuo_form input[name=courier_services_company]").val();
			if(courier_services_company.length<=0){
				layer.msg('请填写快递公司名称', {icon: 2});
				return;
			}
			var waybill_number=$("#fahuo_form input[name=waybill_number]").val();
			if(waybill_number.length<=0){
				layer.msg('请填写快递单号', {icon:2});
				return;
			}
        	$.ajax({
        		url:basePath+'/admin_order/sendStore',
        		contentType:'application/json',
        		type:'post',
        		data:JSON.stringify({order_id:order_id,courier_services_company:courier_services_company,waybill_number:waybill_number}),
        		success:function(data){
        			layer.msg(data.message, {icon:1});
        		},
        		error:function(){
        			layer.msg('请求异常', {icon:2});
        		}
        	})
		}
</script>
</body>
</html>
