<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="common/common :: common_resource"></div>
<meta charset="utf-8">
<title>商品审核管理</title>
<style type="text/css">
.uploader-list {
	margin-left: -15px;
}

.uploader-list .info {
	position: relative;
	margin-top: -25px;
	background-color: black;
	color: white;
	filter: alpha(Opacity = 80);
	-moz-opacity: 0.5;
	opacity: 0.5;
	width: 100px;
	height: 25px;
	text-align: center;
	display: none;
}

.uploader-list .handle {
	position: relative;
	background-color: black;
	color: white;
	filter: alpha(Opacity = 80);
	-moz-opacity: 0.5;
	opacity: 0.5;
	width: 100px;
	text-align: right;
	height: 18px;
	margin-bottom: -18px;
	display: none;
}

.uploader-list .handle span {
	margin-right: 5px;
}

.uploader-list .handle span:hover {
	cursor: pointer;
}

.uploader-list .file-iteme {
	margin: 12px 0 0 15px;
	padding: 1px;
	float: left;
}
</style>
</head>
<body>
	<!--列表-->
	<div id="vueContainer">
		<div v-show="showList">
			<!--<fieldset class="layui-elem-field site-demo-button"
				style="margin-top: 30px;">
				 <div>
					<button class="layui-btn" @click="add">
						<i class="layui-icon layui-icon-add-1"></i>新增
					</button>
				</div>
				<div class="layui-input-inline" style="width:200px;">
					<input type="text" id="search_store_name" placeholder="请输入商品名搜索"
						autocomplete="off" class="layui-input">
				</div>
				<div class="layui-input-inline" style="width:200px;">
					<button class="layui-btn layui-btn-primary" @click="serch">
						<i class="layui-icon layui-icon-search"></i>搜索
					</button>
				</div>
			</fieldset> -->
				<table class="layui-table" lay-filter="test">
					<thead>
						<tr>
							<th>ID</th>
							<th>商品名</th>
							<th>商品类型</th>
							<th>学院类型</th>
							<th>课程类型</th>
							<th>可达会员等级</th>
							<th>商品价格</th>
							<th>商品单位</th>
							<th>导师人数</th>
							<th>其他费用</th>
							<th>商品录入日期</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in data">
							<td>{{item.store_id}}</td>
							<td>{{item.store_name}}</td>
							<td>{{getStoreType(item.store_type)}}</td>
							<td>{{getAcademicType(item.academic_type)}}</td>
							<td>{{getCourseType(item.course_type)}}</td>
							<td>{{getUserGradeType(item.user_grade_id)}}</td>
							<td>{{item.store_price}}</td>
							<td>{{item.store_unit}}</td>
							<td>{{item.tutor_num}}</td>
							<td>{{item.other_price}}</td>
							<td>{{formatDateTimeStr(item.add_date,1)}}</td>
							<td><a class="layui-btn layui-btn-xs" lay-event="serch"
								@click='edit(item.store_id)'>查看</a> <a
								class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"
								@click='del(item.store_id)'>删除</a> <a
								class="layui-btn layui-btn-xs" lay-event="examineStore"
								@click='examineStore(item.store_id,0)'>审核通过</a> <a
								class="layui-btn layui-btn-xs" lay-event="examineStore"
								@click='examineStore(item.store_id,2)'>审核不通过</a></td>

						</tr>
					</tbody>
				</table>
				<!--分页容器-->
				<div id="pagination"></div>
		</div>
		<!-- 新增面板 -->
		<div v-show="!showList" class="layui-card">
			<div class="layui-card-header">{{title}}</div>
			<div class="layui-card-body">
				<form class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">商品名</label>
						<div class="layui-input-block">
							<input type="text" name="store_name" id="store_name"
								v-model="store.store_name" placeholder="请输入商品名"
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">商品价格</label>
						<div class="layui-input-block">
							<input type="text" id="store_price" name="store_price"
								v-model="store.store_price" placeholder="请输入商品价格"
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">导师人数</label>
						<div class="layui-input-block">
							<input type="text" id="tutor_num" name="tutor_num"
								v-model="store.tutor_num" placeholder="请输入导师人数"
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">课时</label>
						<div class="layui-input-block">
							<input type="text" id="class_hour" name="class_hour"
								v-model="store.class_hour" placeholder="请输入课时"
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item" id="storeDiv">
						<label class="layui-form-label">商品类型</label>
						<div class="layui-input-block" id="selectStore">
							<select name="store_type" id="store_type"
								v-model="store.store_type" lay-filter="store_type">
								<option value=""></option>
								<option value="0">商城</option>
								<option value="1">定购</option>
								<option value="2">积分商城</option>
							</select>
						</div>
					</div>
					<!--  <div class="layui-form-item" id="isIntegralBeanDiv">
						<label class="layui-form-label">是否为套餐</label>
						<div class="layui-input-block" id="selectIsIntegralBean">
							<select name="is_gift" id="is_gift"
									v-model="store.is_gift" lay-filter="is_gift">
								<option value="0">请选择</option>
								<option value="1">否</option>
								<option value="2">是</option>
							</select>
						</div>
					</div>-->
					<div class="layui-form-item" id="academicDiv">
						<label class="layui-form-label">学院类型</label>
						<div class="layui-input-block" id="selectAcademic">
							<select name="academic_type" v-model="store.academic_type"
								id="academic_type" lay-filter="academic_type">
								<option value="0"></option>
								<option value="1">智慧学院</option>
								<option value="2">女子学院</option>
								<option value="3">国学院</option>
								<option value="4">生命学院</option>
								<option value="5">商学院</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item" id="courseDiv">
						<label class="layui-form-label">课程类型</label>
						<div class="layui-input-block" id="selectCourse">
							<select name="course_type" id="course_type"
								v-model="store.course_type" lay-filter="course_type">
								<option value="0"></option>
								<option value="1">前端课</option>
								<option value="2">品牌课程</option>
								<option value="3">精品课程</option>
								<option value="4">专业课程</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item" id="userGradeDiv">
						<label class="layui-form-label">会员等级</label>
						<div class="layui-input-block" id="selectUserGrade">
							<select name="user_grade_id" id="user_grade_id"
								v-model="store.user_grade_id" lay-filter="user_grade_id">
								<option value="0"></option>
								<option value="1">紫罗兰</option>
								<option value="2">三星紫罗兰</option>
								<option value="3">五星紫罗兰</option>
								<option value="4">钻石紫罗兰</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item" id="isLetangDiv">
						<label class="layui-form-label">是否所属乐唐大学课程</label>
						<div class="layui-input-block" id="selectIsLetang">
							<select name="is_letang" id="is_letang" v-model="store.is_letang"
								lay-filter="is_letang">
								<option value="0"></option>
								<option value="1">是</option>
								<option value="2">否</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item" id="isCourseBeanDiv">
						<label class="layui-form-label">是否能用快乐豆兑换课程</label>
						<div class="layui-input-block" id="selectIsCourseBean">
							<select name="is_integralBean" id="is_integralBean"
									v-model="store.is_integralBean" lay-filter="is_integralBean">
								<option value="0"></option>
								<option value="1">能</option>
								<option value="2">不能</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">商品单位</label>
						<div class="layui-input-block">
							<input type="text" name="store_unit" id="store_unit"
								v-model="store.store_unit" placeholder="请输入商品单位"
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">其他费用</label>
						<div class="layui-input-block">
							<input type="text" name="other_price" id="other_price"
								v-model="store.other_price" placeholder="请输入其他费用"
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<!-- 				    <label class="layui-form-label">图片</label>
 -->
						<div class="layui-input-block">
							<input type="hidden" name="store_picture"
								v-model="store.store_picture" placeholder="请上传图片"
								autocomplete="off" class="layui-input">
						</div>
						<div class="layui-upload">
							<button type="button" class="layui-btn" id="upload">图片上传</button>
							<blockquote class="layui-elem-quote layui-quote-nm"
								style="margin-top: 10px;width: 88%">
								预览图：
								<div class="layui-upload-list uploader-list"
									style="overflow: auto;" id="uploader-list"></div>
							</blockquote>
						</div>
					</div>
					<textarea class="layui-textarea" id="editor" style="display: none"
						lay-verify="content">
  						把编辑器的初始内容放在这textarea即可
					</textarea>
					<!-- <li class="clearfix"><label class="label_name col-xs-1"><i></i>内容介绍：&nbsp;&nbsp;</label>
    					<div class="Add_content col-xs-11"><script id="editor" type="text/plain" style="width:100%;height:500px;"></script></div>
     				</li>  -->

					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn layui-btn-primary" @click="reload">
								<i class="layui-icon layui-icon-return"></i>返回
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var active = {};
		layui.use([ 'laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider', 'form', 'layedit' ], function() {
			var laydate = layui.laypage,
				layer = layui.layer, //弹层
				table = layui.table, //表格
				carousel = layui.carousel, //轮播
				upload = layui.upload, //上传
				element = layui.element, //元素操作
				slider = layui.slider, //滑块
				form = layui.form,
				laypage = layui.laypage,
				layedit = layui.layedit,
				$ = layui.jquery;
			laypage.render({
				elem : 'pagination',
				count : totalCount,
				layout : [ 'count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip' ],
				jump : function(obj, first) {
					//点击非第一页页码时的处理逻辑。比如这里调用了ajax方法，异步获取分页数据
					if (!first) {
						pagination(obj.curr, obj.limit); //第二个参数不能用变量pageSize，因为当切换每页大小的时候会出问题
					}
				},
			});
			form.on('select(store_type)', function($event) { //绑定商品类型下拉框value的 值，判断下拉框是否显示
				var val = $event.value;
				if (val == 1) { //判断商品类型不是定制商品类型
					$("#courseDiv").show();
					$("#academicDiv").show();
					$("#userGradeDiv").show();
					$("#isLetangDiv").show();
					$("#isIntegralBeanDiv").show();
                    $("#isCourseBeanDiv").show();
				} else {
					$("#courseDiv").hide();
					$("#academicDiv").hide();
					$("#userGradeDiv").hide();
					$("#isLetangDiv").hide();
					$("#isIntegralBeanDiv").hide();
                    $("#isCourseBeanDiv").hide();
				}
			});
           /*  form.on('select(is_gift)', function($event) { //套餐
                var val = $event.value;
                if (val == 2) {
                    $("#userGradeDiv").show();
                    $("#all_ids").show();
                    $("#store_ids").show();
                   // $("#idsNum").show();
                    $("#courseDiv").hide();
                    $("#academicDiv").hide();
                    $("#isLetangDiv").hide();

                } else{
                    $("#userGradeDiv").show();
                    $("#courseDiv").show();
                    $("#academicDiv").show();
                    $("#store_ids").hide();
                    $("#all_ids").hide();
                    //$("#idsNum").hide();

                }
            }); */
			layedit.set({
				uploadImage : {
					url : basePath+'/layuiupload/uploadStoreImg', //接口url
					type : 'post' //默认post
				}
			});
			// 			form.verify({
			//             	content: function(value) {
			//                 	return layedit.sync(index);
			//             	}
			//         	});
			var index = layedit.build('editor');
			//编辑器外部操作
			active = {
				content : function() {
					return layedit.getContent(index);
					alert(layedit.getContent(index)); //获取编辑器内容
				},
				text : function() {
					alert(layedit.getText(index)); //获取编辑器纯文本内容
				},
				selection : function() {
					alert(layedit.getSelection(index));
				},
	
				setStore : function() {
					//alert(vue.store.store_intro);
					layedit.setContent(index, vue.store.store_intro);
				}
			};
			$('.site-demo-layedit').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});
	
		});
		var vue = new Vue({
			el : "#vueContainer",
			data : {
				data : null,
				showList : true,
				title : null,
				store : {},
			},
			methods : {
				//修改查询数据
				edit : function(id) {
					//alert(11);
					vue.store = {};
					vue.showList = false;
					vue.title = "查看";
					//下拉框查询
					//this.getselectoptions();
					$.ajax({
						type : "GET",
						url : basePath + "/store/getByStoreId/" + id,
						async : true,
						success : function(r) {
							//alert(JSON.stringify(r.data));
							vue.store = r.data;
							if (vue.store.store_type == 1) { //判断商品类型不是定制商品类型
								$("#courseDiv").show();
								$("#academicDiv").show();
								$("#userGradeDiv").show();
								$("#isLetangDiv").show();
                               // $("#isIntegralBeanDiv").show();
								$("#isCourseBeanDiv").show();

	
							} else {
								$("#courseDiv").hide();
								$("#academicDiv").hide();
								$("#userGradeDiv").hide();
								$("#isLetangDiv").hide();
                                //$("#isIntegralBeanDiv").hide();
								$("#isCourseBeanDiv").hide();
	
							}
                            if(vue.store.is_gift ==2){//判断是否为套餐
                                $("#courseDiv").hide();
                                $("#academicDiv").hide();
                                $("#isCourseBeanDiv").hide();
                            }
							/*回显图片pictures*/
							var pictures = vue.store.store_picture.split(";");
							//alert(basePicturePath);
							for (var i = 0; i < pictures.length - 1; i++) {
								$('#uploader-list').append(
									'<div id="" class="file-iteme">' +
									'<div style="position:relative">' +
									'<img style="width: 100px;height: 100px;" src=' + basePicturePath + pictures[i] + '>' +
/* 									'<img onclick="closeBtn();" style="width: 20px;height: 20px;position:absolute;right:2px;top:2px;cursor:pointer;" src="/morekaba/img/shanchu.png" />' +
 */									'</div>' +
									'</div>');
							}
							active.setStore(); //给富文本编辑器赋值
	
							/*商品类型下拉框禁用*/
							$("#store_type").attr("disabled", "disabled");
							var select0 = 'dd[lay-value=' + r.data.store_type + ']';
							$('#store_type').siblings("div.layui-form-select").find('dl').find(select0).click();
							/*学院类型下拉框禁用*/
							$("#academic_type").attr("disabled", "disabled");
							var select1 = 'dd[lay-value=' + r.data.academic_type + ']';
							$('#academic_type').siblings("div.layui-form-select").find('dl').find(select1).click();
							$("#academic_type").attr("disabled", "disabled");
							/*课程类型下拉框禁用*/
							var select2 = 'dd[lay-value=' + r.data.course_type + ']';
							$('#course_type').siblings("div.layui-form-select").find('dl').find(select2).click();
							$("#course_type").attr("disabled", "disabled");
							/*会员等级下拉框禁用*/
							var select3 = 'dd[lay-value=' + r.data.user_grade_id + ']';
							$('#user_grade_id').siblings("div.layui-form-select").find('dl').find(select3).click();
							$("#user_grade_id").attr("disabled", "disabled");
							/*所属课程类型下拉框禁用*/
							var select4 = 'dd[lay-value=' + r.data.is_letang + ']';
							$('#is_letang').siblings("div.layui-form-select").find('dl').find(select4).click();
							$("#is_letang").attr("disabled", "disabled");
							/*是否能用快乐豆兑换课程类型下拉框禁用*/
							var select5 = 'dd[lay-value=' + r.data.is_integralBean + ']';
							$('#is_integralBean').siblings("div.layui-form-select").find('dl').find(select5).click();
							$("#is_integralBean").attr("disabled", "disabled");
                            /*是否能为套餐下拉框禁用*/
                            /* var select6 = 'dd[lay-value=' + r.data.is_gift + ']';
                            $('#is_gift').siblings("div.layui-form-select").find('dl').find(select6).click();
                            $("#is_gift").attr("disabled", "disabled");
                            layui.form.render('select');
							layui.form.render('select'); */
						},
						error : function(r) {
							layer.msg(r.data.message);
						}
					});
				},
				//删除商品
				del : function(id) {
							layer.confirm('该商品已经上线，确定删除该商品？', {
								btn : [ '确定', '取消' ] //按钮
							}, function() {
								$.get(basePath + "/examine/deleteStore/" + id, function(data) {
									layer.msg(data.message);
								vue.reload();
								});
							}, function() {
								layer.msg('取消操作', {
									icon : 2
								});
					});
				},
				//搜索
				serch : function() {
					var store_name = $("#search_store_name").val();
	
					pagination(1, 10, store_name);
				},
				//审核商品
				examineStore : function(id, state) {
					//alert(id)
							layer.confirm('确认审核该商品？', {
								btn : [ '确定', '取消' ] //按钮
							}, function() {
								$.get(basePath + "/examine/examineStore/" + id + "/" + state, function(data) {
									layer.msg(data.message);
								vue.reload();
								});
							}, function() {
								layer.msg('取消操作', {
									icon : 2
								});
							});
				},
	
				reload : function(event) {
					vue.showList = true;
                    vue.serch();
                   // vue.showList = true;
				}
			}
		});
		//使用layui分页
		var pageIndex = 1;
		var pageSize = 10;
		var totalCount = 0;
		pagination(pageIndex, pageSize);
		function pagination(pageIndex, pageSize, name) {
			//查询条件
			var param = {
				pageIndex : pageIndex,
				pageSize : pageSize,
				name : name
			//其它查询条件可在下面添加
			};
			$.ajax({
				type : 'POST',
				url : basePath + '/examine/storeList/' + pageIndex + "/" + pageSize,
				dataType : 'json',
				data : param,
				async : false, //这里设置为同步执行，目的是等数据加载完再调用layui分页组件，不然分页组件拿不到totalCount的值
				success : function(data) {
					vue.data = data.data.list;
					totalCount = data.data.total;
				}
			});
		}
		;
	
		//学院类型转换可识别课程类型学院类型(1.智慧学院,2.女子学院,3.国学院,4.生命学院,5.商学院)
		function getAcademicType(type) {
			if (type == 1) {
				return "智慧学院";
			} else if (type == 2) {
				return "女子学院";
			} else if (type == 3) {
				return "国学院";
			} else if (type == 4) {
				return "生命学院";
			} else if (type == 5) {
				return "商学院";
			}
	
		}
		//课程类型转换可识别课程类型(1.前端课，2.品牌课，3.精品课，4专业课，5.乐唐大学)
		function getCourseType(type) {
			if (type == 1) {
				return "前端课";
			} else if (type == 2) {
				return "品牌课";
			} else if (type == 3) {
				return "精品课";
			} else if (type == 4) {
				return "专业课";
			} else if (type == 5) {
				return "乐唐大学";
			}
	
		}
		//商品类型转换可识别课程类型
		function getStoreType(type) {
			if (type == 0) {
				return "商城";
			} else if (type == 1) {
				return "定购";
			} else if (type == 2) {
				return "积分商城";
			}
		}
		//会员等级转换可识别会员等级
		function getUserGradeType(type) {
			if (type == 2) {
				return "三星紫罗兰";
			} else if (type == 3) {
				return "五星紫罗兰";
			}else if (type == 4) {
                return "钻石紫罗兰";
            }else{
                return "紫罗兰";
            }
		}
	</script>
</body>
</html>
