.mui-content {
	margin-bottom: 51px;
}

input[type=text],
input[type=button] {
	line-height: 21px;
	width: 100%;
	height: 35px;
	margin-bottom: 0;
	padding: 5px 0px;
	-webkit-user-select: text;
	border: none;
	border-radius: 0;
	outline: 0;
	background-color: transparent;
	-webkit-appearance: none;
}

input[type=text] {
	border-bottom: 1px solid #bf88fc;
	font-size:14px;
}

input[type=button] {
	background-color: #BFBFBF;
}

/*评论列表*/
.comment-box {
	position: relative;
	clear: both;
	overflow: hidden;
	margin-bottom: 55px;
	padding: 5px 5px 0px 5px;
}

.comment-list {
	position: relative;
	clear: all;
	overflow: hidden;
	width: 98%;
	float: left;
	padding-left: 5px;
	border-bottom: 1px solid #E5E5E5;
}

.comment-list h5 {
	padding: 10px 0;
	padding-left: 35px;
	font-size: 14px;
	color: #8f8f94;
}
p{
	color: #8f8f94;
}
.comment-list p{
	font-size: 14px;
}
.comment-user-portrait {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
	vertical-align: middle;
}

.comment-content {
	padding-left: 35px;
}

/*提交评论*/
.comment-submit-box {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 95%;
	height: 51px;
	background-color: #f0f0f0;
	padding: 0px 10px;
}

.comment-submit {
	width: 70%;
	float: left;
}

.comment-submit-btn {
	width: 27%;
	float: left;
	padding-left: 10px;
	margin-top: 5px;
}

.comment-submit-btn input[type=button] {
	width: 100%;
	height: 40px;
	border: none;
	color: #666;
	background-color: #e5e5e5;
}
.title img{
	width: 100%;
}