/*买家评价--评价列表*/
img {
	width: 100%;
}

p {
	margin-bottom: 0;
	line-height: 1.5;
}

.evaluation-list-box {
	background-color: #eeeeed;
	position: relative;
	clear: all;
	overflow: hidden;
	width:95%;
	margin:0 auto;
	border-radius: 10px;
	margin-top: 10px;
}

.evaluation-list {
	position: relative;
	clear: all;
	overflow: hidden;
	/* border-bottom: 2px solid #fff; */
	padding: 5px 10px;
}

.evaluation-head {
	position: relative;
	clear: all;
	overflow: hidden;
}

.evaluation-head-touxiang {
	position: absolute;
	clear: all;
	overflow: hidden;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	left: 0px;
/* 	top: 5px; */
}

.evaluation-head h4 {
	position: relative;
	clear: all;
	overflow: hidden;
	line-height: 30px;
	padding-left: 40px;
}

.evaluation-content-box {
	position: relative;
	clear: all;
	overflow: hidden;
}

.evaluation-content {
	line-height: 30px;
}

.evaluation-content-img {
	width: 33.3%;
	float: left;
	padding: 2px;
}

.evaluation-foot {
	width: 50%;
	float: left;
}