<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="common/common :: common_resource"></div>
<meta charset="utf-8">
<title>会员管理</title>
<style type="text/css">
.uploader-list {
	margin-left: -15px;
}

.uploader-list .info {
	position: relative;
	margin-top: -25px;
	background-color: black;
	color: white;
	filter: alpha(Opacity = 80);
	-moz-opacity: 0.5;
	opacity: 0.5;
	width: 100px;
	height: 25px;
	text-align: center;
	display: none;
}

.uploader-list .handle {
	position: relative;
	background-color: black;
	color: white;
	filter: alpha(Opacity = 80);
	-moz-opacity: 0.5;
	opacity: 0.5;
	width: 100px;
	text-align: right;
	height: 18px;
	margin-bottom: -18px;
	display: none;
}

.uploader-list .handle span {
	margin-right: 5px;
}

.uploader-list .handle span:hover {
	cursor: pointer;
}

.uploader-list .file-iteme {
	margin: 12px 0 0 15px;
	padding: 1px;
	float: left;
}
</style>
</head>
<body>
	<!--列表-->
	<div id="vueContainer">
		<div v-show="showList">
			<fieldset class="layui-elem-field site-demo-button"
				style="margin-top: 30px;">
				<!-- <div>
					<button class="layui-btn" @click="add">
						<i class="layui-icon layui-icon-add-1"></i>新增
					</button>
				</div> -->
				<div class="layui-input-inline" style="width:200px;">
					<input type="text" id="search_user_name" placeholder="请输入姓名搜索"
						autocomplete="off" class="layui-input">
				</div>
				<div class="layui-input-inline" style="width:200px;">
					<button class="layui-btn layui-btn-primary" @click="serch">
						<i class="layui-icon layui-icon-search"></i>搜索
					</button>
				</div>
			</fieldset>
			<table class="layui-table" lay-filter="test">
				<thead>
					<tr>
						<th>ID</th>
						<th>姓名</th>
						<th>微信昵称</th>
						<th>推荐人</th>
						<th>客户归属</th>
						<th>所属员工姓名</th>
						<th>会员等级</th>
						<th>身份证号</th>
						<th>奖金(元)</th>
						<th>晋级积分</th>
						<th>旅游积分</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in data">
						<td>{{item.user_basics_id}}</td>
						<td style='cursor:pointer;color:#0e90d2'
							@click='{{toUserdetails(item.user_basics_id)}}'>{{item.information_compellation}}</td>
						<td>{{item.weixin_nickname}}</td>
						<td>{{item.superior_information_compellation}}</td>
						<td>{{kehuguishu(item.user_resources)}}</td>
						<td>{{item.information_compellation3}}</td>
						<td>{{item.grade_nickname}}</td>
						<td>{{item.information_card}}</td>
						<td>{{item.integral_bonus}}</td>
						<td>{{item.integral_basics}}</td>
						<td>{{item.integral_travel}}</td>
						<td><a class="layui-btn layui-btn-xs" lay-event="edit"
							@click='toUserdetails(item.user_basics_id)'>查看</a></td>
						<!--<td><a class="layui-btn layui-btn-normal layui-btn-xs"
							lay-event="editPermission" @click='updateCo(item.user_basics_id,item.information_compellation,item.co_user_basics_id,item.information_compellation3,item.user_resources,item.recommend_superior,item.superior_information_compellation,item.user_grade_id,item.grade_nickname)'><i
								class="layui-icon layui-icon-release"></i>修改</a></td>
					</tr>-->
				</tbody>
			</table>
			<!--分页容器-->
			<div id="pagination"></div>
		</div>
	</div>
	<script type="text/javascript">
		var user_grade_id;
		var grade_nickname;
		var active = {};
		layui.use([ 'laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider', 'form', 'layedit' ], function() {
			var laydate = layui.laypage,
				layer = layui.layer, //弹层
				table = layui.table, //表格
				carousel = layui.carousel, //轮播
				upload = layui.upload, //上传
				element = layui.element, //元素操作
				slider = layui.slider, //滑块
				form = layui.form,
				laypage = layui.laypage,
				layedit = layui.layedit,
				$ = layui.jquery;
			laypage.render({
				elem : 'pagination',
				count : totalCount,
				layout : [ 'count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip' ],
				jump : function(obj, first) {
					//点击非第一页页码时的处理逻辑。比如这里调用了ajax方法，异步获取分页数据
					if (!first) {
						pagination(obj.curr, obj.limit); //第二个参数不能用变量pageSize，因为当切换每页大小的时候会出问题
					}
				},
			});
			var index = layedit.build('editor');
			//编辑器外部操作
			active = {
				content : function() {
					return layedit.getContent(index);
					alert(layedit.getContent(index)); //获取编辑器内容
				},
				text : function() {
					alert(layedit.getText(index)); //获取编辑器纯文本内容
				},
				selection : function() {
					alert(layedit.getSelection(index));
				},
				setStore : function() {
					layedit.setContent(index, vue.store.store_intro);
				}
			};
			$('.site-demo-layedit').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});
	
		});
		var vue = new Vue({
			el : "#vueContainer",
			data : {
				data : null,
				showList : true,
				title : null,
				user : {},
			},
			methods : {
				//查看会员信息数据  无用
				edit : function(id) {
					vue.user = {};
					vue.showList = false;
					vue.title = "查看";
					//下拉框查询
					//this.getselectoptions();getByUserInfoId
					$.ajax({
						type : "GET",
						url : basePath + "/admin_userInfo/getByUserInfoId/" + id,
						async : true,
						success : function(r) {
							vue.user = r.data;
						},
						error : function(r) {
							layer.msg(r.data.message);
						}
					});
				},
				//查看会员信息数据
				toUserdetails : function(id) {
					//alert(id);
					//vue.user = {};
					//vue.showList = false;
					//vue.title = "查看";
					//下拉框查询
					//this.getselectoptions();
					$.ajax({
						//type : "GET",
						url : basePath + "/admin_userInfo/findUserBasicsAndGradeId/" + id,
						async : true,
						success : function(r) {
							console.log(r.data);
							//vue.user = r.data;
							var sex = ''; //性别标识
							if (r.data.information_sex == 0) {
								sex = "女";
							} else if (r.data.information_sex == 1) {
								sex = "男";
							} else {
								sex = "保密";
							}
							var coFounder = ''; //
							if (r.data.co_founder == 0) {
								coFounder = "总公司会员";
							} else if (r.data.co_founder == 1) {
								coFounder = "分公司会员";
							} else if (r.data.co_founder == 2) {
								coFounder = "分公司代理人";
							} else if (r.data.co_founder == 3) {
								coFounder = "品牌大使";
							}
							var commendUserBasicsId = ''; //推荐人id
							if (r.data.user_basics_id2 == null || r.data.user_basics_id2 == undefined) {
								commendUserBasicsId = "未知";
							} else {
								commendUserBasicsId = r.data.user_basics_id2;
	
							}
							var commendInformationCompellation = ''; //推荐人姓名
							if (r.data.information_compellation2 == null || r.data.information_compellation2 == undefined) {
								commendInformationCompellation = "未知";
							} else {
								commendInformationCompellation = r.data.information_compellation2;
							}
							var commendWeixinNickname = '';
							if (r.data.weixin_nickname2 == null || r.data.weixin_nickname2 == undefined) {
								commendWeixinNickname = "未知";
							} else {
								commendWeixinNickname = r.data.weixin_nickname2;
							}
							$("#vueContainer").replaceWith('<div id="vueContainer2" style="margin-top:20px">' +
								'<div class="layui-form-item">' +
								'<label class="layui-form-label">会员姓名</label>' +
								'<div class="layui-input-block">' +
								'<input type="text"  class="layui-input" value=' + r.data.information_compellation + '>' +
								'</div>' +
								'</div>' +
								'<div class="layui-form-item">' +
								'<label class="layui-form-label">会员昵称</label>' +
								'<div class="layui-input-block">' +
								'<input type="text"  class="layui-input" value=' + r.data.grade_name + '>' +
								'</div>' +
								'</div>' +
								'<div class="layui-form-item">' +
								'<label class="layui-form-label">会员微信昵称</label>' +
								'<div class="layui-input-block">' +
								'<input type="text"  class="layui-input" value=' + r.data.weixin_nickname + '>' +
								'</div>' +
								'</div>' +
								'<div class="layui-form-item">' +
								'<label class="layui-form-label">会员注册时间</label>' +
								'<div class="layui-input-block">' +
								'<input type="text"  class="layui-input" value=' + formatDateTimeStr((r.data.user_register_data * 1000), 1) + '>' +
								'</div>' +
								'</div>' +
								'<div class="layui-form-item">' +
								'<label class="layui-form-label">会员性别</label>' +
								'<div class="layui-input-block">' +
								'<input type="text"  class="layui-input" value=' + sex + '>' +
								'</div>' +
								'</div>' +
								'<div class="layui-form-item">' +
								'<label class="layui-form-label">手机号</label>' +
								'<div class="layui-input-block">' +
								'<input type="text"  class="layui-input" value=' + r.data.information_phone + '>' +
								'</div>' +
								'</div>' +
								'<div class="layui-form-item">' +
								'<label class="layui-form-label">身份证号</label>' +
								'<div class="layui-input-block">' +
								'<input type="text"  class="layui-input" value=' + r.data.information_card + '>' +
								'</div>' +
								'</div>' +
								'<div class="layui-form-item">' +
								'<label class="layui-form-label">用户身份</label>' +
								'<div class="layui-input-block">' +
								'<input type="text"  class="layui-input" value=' + coFounder + '>' +
								'</div>' +
								'</div>' +
								'<div class="layui-form-item">' +
								'<label class="layui-form-label">所属员工编号</label>' +
								'<div class="layui-input-block">' +
								'<input type="text"  class="layui-input" value=' + r.data.co_user_basics_id + '>' +
								'</div>' +
								'</div>' +
								'<div class="layui-form-item">' +
								'<label class="layui-form-label">所属员工姓名</label>' +
								'<div class="layui-input-block">' +
								'<input type="text"  class="layui-input" value=' + r.data.information_compellation3 + '>' +
								'</div>' +
								'</div>' +
								'<div class="layui-form-item">' +
								'<label class="layui-form-label">推荐人编号</label>' +
								'<div class="layui-input-block">' +
								'<input type="text"  class="layui-input" value=' + commendUserBasicsId + '>' +
								'</div>' +
								'</div>' +
								'<div class="layui-form-item">' +
								'<label class="layui-form-label">推荐人姓名</label>' +
								'<div class="layui-input-block">' +
								'<input type="text"  class="layui-input" value=' + commendInformationCompellation + '>' +
								'</div>' +
								'</div>' +
								'<div class="layui-form-item">' +
								'<label class="layui-form-label">推荐人微信昵称</label>' +
								'<div class="layui-input-block">' +
								'<input type="text"  class="layui-input" value=' + commendWeixinNickname + '>' +
								'</div>' +
								'</div>' +
								'</div>');
						}, //information_phone
						error : function(r) {
							layer.msg(r.data.message);
						}
					});
				},
				//搜索
				serch : function() {
					var store_name = $("#search_user_name").val();
	
					pagination(1, 10, store_name);
				},
	
				reload : function(event) {
					vue.showList = true;
				}
			}
		});
		//使用layui分页
		var pageIndex = 1;
		var pageSize = 10;
		var totalCount = 0;
		pagination(pageIndex, pageSize);
		function pagination(pageIndex, pageSize, name) {
			//查询条件
			var param = {
				pageIndex : pageIndex,
				pageSize : pageSize,
				name : name
			//其它查询条件可在下面添加
			};
			$.ajax({
				type : 'POST',
				url : basePath + '/admin_userInfo/userInfoListCo/' + pageIndex + "/" + pageSize,
				dataType : 'json',
				data : param,
				async : false, //这里设置为同步执行，目的是等数据加载完再调用layui分页组件，不然分页组件拿不到totalCount的值
				success : function(data) {
					//alert(JSON.stringify(data.data.list[5]));
					vue.data = data.data.list;
					totalCount = data.data.total;
				}
			});
		}
		
		function updateCo(user_basics_id,information_compellation,co_user_basics_id,information_compellation3,user_resources,recommend_superior,superior_information_compellation,user_grade_id,grade_nickname) {

			var html = "<form class='layui-form' style='margin-top:10px;' id='fahuo_form'>";
			html += "<div class='layui-form-item' style='width:350px;'>" +
						"<label class='layui-form-label'>编 号：</label>" +
						"<div class='layui-input-block'>" +
							"<input id='user_basics_id'  type='text' name='user_basics_id' lay-verify='user_basics_id' value='" + user_basics_id + "' class='layui-input'>" +
						"</div>" +
					"</div>";
			
			html += "<div class='layui-form-item' style='width:350px;'>" +
						"<label class='layui-form-label'>姓  名：</label>" +
						"<div class='layui-input-block'>" +
							"<input id='information_compellation' readonly='true' type='text' name='user_name' lay-verify='user_name' value='" + information_compellation + "' class='layui-input'>" +
						"</div>" +
					"</div>";
			html += "<div class='layui-form-item' style='width:350px;'>" +
						"<label class='layui-form-label'>推荐人编号：</label>" +
						"<div class='layui-input-block'>" +
							"<input id='recommend_superior' onchange='findUserInformation2(this.value)' type='text' name='recommend_superior' lay-verify='user_name' value='" + recommend_superior + "' class='layui-input'>" +
						"</div>" +
					"</div>";
			html += "<div class='layui-form-item' style='width:350px;'>" +
				"<label class='layui-form-label'>推荐人姓名：</label>" +
				"<div class='layui-input-block'>" +
					"<input id='superior_information_compellation' readonly='true' type='text' name='superior_information_compellation' lay-verify='user_name' value='" + superior_information_compellation + "' class='layui-input'>" +
				"</div>" +
			"</div>";
					
			html += "<div class='layui-form-item' style='width:350px;'>" +
						"<label class='layui-form-label'>所属员工编号：</label>" +
						"<div class='layui-input-block'>" +
							"<input onchange='findUserInformation(this.value)' type='text' id='co_user_basics_id' name='co_user_basics_id' lay-verify='user_name' value='" + co_user_basics_id + "' class='layui-input'>" +
						"</div>" +
					"</div>";
			html += "<div class='layui-form-item' style='width:350px;'>" +
						"<label class='layui-form-label'>所属员工姓名：</label>" +
						"<div class='layui-input-block'>" +
							"<input type='text' readonly='true' id='information_compellation3' name='information_compellation3' lay-verify='user_name' value='" + information_compellation3 + "' class='layui-input'>" +
						"</div>" +
					"</div>";
			

			html += 	"<div class='layui-form-item' style='width:350px;'>"+
					      "<label class='layui-form-label'>客户归属：</label>"+
					      "<div class='layui-input-block' >"+
						      "<select name='ziyuan'  id='ziyuan'>"+
						        "<option value='0'>未知</option>"+
						        "<option value='1'>公司资源</option>"+
						        "<option value='2'>个人资源</option>"+
						      "</select>"+
						 "</div>"+
					"</div>";

            html += 	"<div class='layui-form-item' style='width:350px;'>"+
							"<label class='layui-form-label'>会员等级：</label>"+
							"<div class='layui-input-block' >"+
								"<select name='usergrade'  id='usergrade'>";
			if(user_grade_id<3){
                html += 		"<option value="+user_grade_id+">"+grade_nickname+"</option>";
                html += 		"<option value='3'>五星紫罗兰</option>";
			}else if(user_grade_id>=3){
                html += 		"<option value="+user_grade_id+">"+grade_nickname+"</option>";
			}

            html += 	"</select>"+
							"</div>"+
				       "</div>";
			html += "<div class='layui-form-item' style='width:350px;'>" +
						"<label class='layui-form-label'></label>" +
						"<div class='layui-input-block'>" +
						"</div>" +
					"</div>";	
			html += "<div class='layui-form-item' style='width:350px;'>" +
						"<label class='layui-form-label'></label>" +
						"<div class='layui-input-block'>" +
						"</div>" +
					"</div>";				
				   	
			html += "<div class='layui-form-item' style='width:350px;'>";
			html += "<div class='layui-input-block'>";
			html += "<button type='button' onclick=\"updateFounder()\" style='width:240px;' class='layui-btn'><i class='layui-icon layui-icon-ok'></i>提交</button>";
			html += "</div>";
			html += "</div>";
			html += "</form>";
			console.log(html);
			layer.open({
				type : 1,
				title : '修改',
				closeBtn : 0,
				area : '400px',
				anim : 4,
				skin : 'layui-layer-no', //样式类名
				shadeClose : true,
				content : html
			});
			layui.use('form', function(){
			  var form = layui.form; 
			  $("#ziyuan").find("option[value=1]").attr("selected",true);
			  form.render();
			  
			});

			if(user_resources!=1&&user_resources!=2){
				user_resources=0;
			}
			$(".ziyuan").find("option[value=user_resources]").attr("selected",true);
			
		}
		function kehuguishu(user_resources){
			if(user_resources==1){
				return "公司";
			}else if(user_resources==2){
				return "个人";
			}else{
				return "未知";
			}
			
		}
		function updateFounder(){
			var user_basics_id = $("#user_basics_id").val();
			var co_user_basics_id = $("#co_user_basics_id").val();
			var user_resources=$("#ziyuan").val();
			var recommend_superior=$("#recommend_superior").val();
			var superior_information_compellation=$("#superior_information_compellation").val();
            var usergrade=$("#usergrade").val();
			
			$.ajax({
               type: "GET",
               url: basePath+'/admin_userInfo/updateCoFounder',
               contentType:'application/json',
               async:true,
               data: {user_basics_id:user_basics_id,co_user_basics_id:co_user_basics_id,user_resources:user_resources,recommend_superior:recommend_superior,user_grade_id:usergrade},
               success: function (rs) {
               		if(rs.data==1){
               			alert(rs.message);
                        window.location.reload();
               		}else if(rs.data==-1){
               			alert(rs.message);

               		}else{
               			alert("修改失败!");
               		}
               },error:function(r){
               	layer.msg(r.message);
               }
		    });
		}
		function findUserInformation(user_basics_id) {
			if(user_basics_id==null){
				return;
			}
			$.ajax({
               type: "GET",
               url: basePath+'/admin_userInfo/findUserInformOne',
               contentType:'application/json',
               async:true,
               data: {user_basics_id:user_basics_id},
               success: function (rs) {
                   ifname(rs);
               },error:function(r){
               	layer.msg(r.message);
               }
		    });
		};
		function ifname(rs){
			if(rs!=null){
	        	if(rs.data!=null){
	        		var information_compellation3=rs.data.information_compellation;
	        		$("#information_compellation3").val(information_compellation3);
	        	}else{
	        		alert("该用户未实名认证!");
	        	}
	        }else{
	        	alert("无该用户!");
	        }
		}
		function findUserInformation2(user_basics_id) {
			if(user_basics_id==null){
				return;
			}
			$.ajax({
               type: "GET",
               url: basePath+'/admin_userInfo/findUserInformOne',
               contentType:'application/json',
               async:true,
               data: {user_basics_id:user_basics_id},
               success: function (rs) {
                   ifname2(rs);
               },error:function(r){
               	layer.msg(r.message);
               }
		    });
		};
		function ifname2(rs){
			if(rs!=null){
	        	if(rs.data!=null){
	        		var superior_information_compellation=rs.data.information_compellation;
	        		$("#superior_information_compellation").val(superior_information_compellation);
	        	}else{
	        		alert("该用户未实名认证!");
	        	}
	        }else{
	        	alert("无该用户!");
	        }
		}
	</script>


</body>
</html>
