<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mrkb.shiro.mapper.ShiroUserMapper">

	<sql id="Base_Column_List">
		user_basics_id, user_nickname, user_password,weixin_follow_choice as user_register_data,user_register_address,user_grade_id,
		user_account_num,low_vip_time,vip_time,health_time,user_money
	</sql>
    <!-- 根据用户账号查询用户信息 -->
    <select id="findByUsername" parameterType="java.lang.String" resultType="com.mrkb.shiro.model.User" >
       select * from user_basics where user_account_num = #{username}
    </select>
	<!-- 根据用户账号查询用户信息 -->
	<select id="findBySysUsername" parameterType="java.lang.String" resultType="com.mrkb.shiro.model.SysUser" >
       select * from sys_user where username = #{username}
    </select>
	
	
	<!-- 用户信息分页查询 -->
	<select id="getUserPageList" parameterType="com.mrkb.shiro.model.User" resultType="com.mrkb.shiro.model.User">
		select
		<include refid="Base_Column_List"/>
		from user_basics a
		right join user_weixin b on a.user_basics_id=b.user_basics_id
		right join user_information c on c.user_basics_id=a.user_basics_id
		where 1=1
		and c.co_founder=4
			<if test="user_nickname != null">
				and user_nickname like concat('%',#{user_nickname},'%')
			</if>


	</select>
	
	
	<!-- 新增用户 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="user_basics_id" keyColumn="user_basics_id">
		insert into user_basics(
			user_nickname,user_password,user_register_data,user_account_num
		)values(
			#{user_nickname},
			#{user_password},
			#{user_register_data},
			#{user_account_num}
		)
	</insert>
	
	
	
	<!-- 删除用户 -->
	<delete id="removeUser" parameterType="java.lang.Integer">
		delete from user_basics where user_basics_id
	</delete>
	
	
	<!-- 编辑用户信息 -->
	<update id="editUser" parameterType="com.mrkb.shiro.model.User">
		update user_basics
		<set>
			<if test="user_nickname != null">user_nickname=#{user_nickname},</if>
			<if test="user_password != null">user_password=#{user_password}</if>
		</set>
		where user_basics_id=#{user_basics_id}
	</update>
	
	
	<!-- 根据用户ID查询用户信息 -->
	<select id="findUserByUserId" parameterType="java.lang.Integer" resultType="com.mrkb.shiro.model.User">
		select 
		<include refid="Base_Column_List"/>
		from user_basics
		where user_basics_id=#{user_basics_id}
	</select>
</mapper>