<html xmlns:th="http://www.thymeleaf.org">
<title>乐唐系统</title>
	<frameset rows="88,*" cols="*" frameborder="no" border="0" framespacing="0">
	  <frame src="/morekaba/admin/top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
	  <frameset cols="187,*" frameborder="no" border="0" framespacing="0">
	    <frame src="/morekaba/admin/left" name="leftFrame" scrolling="No" noresize="noresize" id="leftFrame" title="leftFrame" />
	    <frame src="/morekaba/admin/index" name="rightFrame" id="rightFrame" title="rightFrame" />
	  </frameset>
	</frameset>
	<body>
		<script src="../../static/js/jquery.js" th:src="@{/js/jquery.js}" ></script>
		<script src="../../static/js/basePathConfig.js" th:src="@{/js/basePathConfig.js}" ></script>
		<script type="text/javascript">
            var storage=window.localStorage;//获取用户账号
            var userAccount = storage.getItem("user_account_num");
			/* $(function(){
				$('#leftFrame').src(basePath+'/admin/left');
				$('#topFrame').src(basePath+'/admin/top');
			}) */
		</script>
	</body>
</html>
