<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<div th:replace="common/common :: common_resource"></div>
    <meta charset="utf-8">
    <title>权限管理</title>
</head>
  
<body>
<!--列表-->
<div id="rapp">
    <div v-show="showList">
    	<!-- shiro按钮权限示例:<p shiro:hasPermission="sys:menu">有权限</p> -->
    	<fieldset class="layui-elem-field site-demo-button" style="margin-top: 10px;">
		    <button shiro:hasPermission="sys:menu" class="layui-btn layui-btn-primary" @click="add"><i class="layui-icon layui-icon-add-1"></i>新增</button>
			<div class="layui-input-inline" style="width:200px;">
	           <input type="text" id="serch_role_name" placeholder="角色名称" autocomplete="off" class="layui-input">
	        </div>
	        <div class="layui-input-inline" style="width:200px;">
	           <button class="layui-btn layui-btn-primary" @click="serch"><i class="layui-icon layui-icon-search"></i>搜索</button>
	        </div>
		</fieldset>
	    <table class="layui-table" lay-filter="test">
	        <thead>
	            <tr>
	                <th>ID</th>
	                <th>权限编码</th>
                	<th>权限名称</th>
                	<th>权限菜单名称</th>
	                <th>创建时间</th>
	                <th>操作</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr v-for="item in data">
	                <td>{{item.id}}</td>
	                <td>{{item.code}}</td>
	                <td>{{item.name}}</td>
	                <td>{{item.menu_name}}</td>
	                <td>{{item.create_time}}</td>
	                <td>
<!-- 						<a class="layui-btn layui-btn-xs" lay-event="edit" @click='edit(item.id)'>编辑</a> -->
<!-- 						<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" @click='del(item.id)'>删除</a> -->
	                </td>
	            </tr>
	        </tbody>
	    </table>
    	<!--分页容器-->
		<div id="pagination"></div>
    </div>
    <!-- 新增面板 -->
    <div v-show="!showList" class="layui-card">
    	<div class="layui-card-header">{{title}}</div>
    	<div class="layui-card-body">
    		<form class="layui-form" id="layui-form">
			    <div class="layui-form-item">
				    <label class="layui-form-label">角色编码</label>
			    	<div class="layui-input-block">
			        	<input type="text" name="code" id="role_code" v-model="Permission.code" placeholder="请输入角色编码" autocomplete="off" class="layui-input">
			    	</div>
			    </div>
			    <div class="layui-form-item">
				    <label class="layui-form-label">角色名称</label>
			    	<div class="layui-input-block">
			        	<input type="text" name="name" id="role_name" v-model="Permission.name" placeholder="请输入角色名称" autocomplete="off" class="layui-input">
			    	</div>
			    </div>
			    <div class="layui-form-item">
			       <div class="layui-input-block">
			         <button type="button" class="layui-btn layui-btn-primary" @click="save"><i class="layui-icon layui-icon-ok"></i>提交</button>
			         <button type="reset" class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-refresh-3"></i>重置</button>
			         <button class="layui-btn layui-btn-primary" @click="reload"><i class="layui-icon layui-icon-return"></i>返回</button> 
			       </div>
			    </div>
			</form>
	    </div>
    </div>
</div>
<script type="text/javascript">
	var vm = new Vue({
		el: "#rapp",
		    data: {
		        data: null,
		        showList: true,
		        title: null,
		        Permission: {}
		    },
		methods: {
			add: function () {
	            vm.Permission = {};
	            vm.showList = false;
	            vm.title = "新增";
	        },
	        save: function(){
        		var url = vm.Permission.id == null ? "/userPermission/permissionSave" : "/userPermission/editRole";
        		if(vm.Permission.code == null || vm.Permission.code.length<=0){
	        		layer.tips('角色编码不能为空', '#role_code', {
					   tips: [3, '#0FA6D8'] //还可配置颜色
					});
					return;
	        	}
        		if(vm.Permission.name == null || vm.Permission.name.length<=0){
	        		layer.tips('角色名不能为空', '#role_name', {
					   tips: [3, '#0FA6D8'] //还可配置颜色
					});
					return;
	        	}
	        	$.ajax({
	                type: "POST",
	                url: basePath+url,
	                contentType:'application/json',
	                async:true,
	                data: JSON.stringify(vm.Permission),
	                success: function (r) {
	                    if (r.errorCode == 200) {
	                       vm.reload();
	                       layer.msg(r.message);
	                    } else {
	                        layer.msg(r.message);
	                    }
	                },error:function(r){
	                	layer.msg(r.message);
	                }
               });
	        },
	        serch: function(){
	        	var name = $("#serch_role_name").val();
	        	pagination(1,10,name);
	        },
	        edit: function(id){
	        
	        },
	        del: function(id){
	           layer.confirm('是否删除该角色？操作不可恢复！', {
			    btn: ['确定','取消'] //按钮
				}, function(){
				   $.get(basePath+"/userPermission/removePermission/"+id,function(data){
				   	   layer.msg(data.message);
				   	   vm.reload();
				   });
				}, function(){
				   layer.msg('取消操作', {icon: 2});
				});
	        },
	        reload: function(){
	        	vm.showList = true;
	            this.serch(); 
	        }
		}
   });
    //使用layui分页
    var pageIndex = 1;
	var pageSize = 10;
	var totalCount = 0;
	pagination(pageIndex, pageSize);
	layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
	    var laydate = layui.laypage,
	    layer = layui.layer, //弹层
	    table = layui.table, //表格
	    carousel = layui.carousel, //轮播
	    upload = layui.upload, //上传
	    element = layui.element, //元素操作
	    slider = layui.slider, //滑块
	    form = layui.form,
	    laypage = layui.laypage
	    laypage.render({
	        elem: 'pagination'
	        , count: totalCount
	        , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
	        , jump: function (obj, first) {
	            //点击非第一页页码时的处理逻辑。比如这里调用了ajax方法，异步获取分页数据
	            if (!first) {
	                pagination(obj.curr, obj.limit);//第二个参数不能用变量pageSize，因为当切换每页大小的时候会出问题
	            }
	        },
	        
	    });
	});
	function pagination(pageIndex, pageSize,name) {
	    //查询条件
	    var param = {
	        pageIndex: pageIndex,
	        pageSize: pageSize,
	        name:name
	        //其它查询条件可在下面添加
	    };
	    $.ajax({
	        type: 'POST',
	        url: basePath+'/userPermission/permissionList',
	        dataType: 'json',
	        data: param,
	        async: false,//这里设置为同步执行，目的是等数据加载完再调用layui分页组件，不然分页组件拿不到totalCount的值
	        success: function (data) {
	            vm.data = data.data.list;
	            totalCount = data.data.total;
	        }
	    });
	};
</script>
</body>
</html>
