<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mrkb.dao.dao.ConverFlowMapper">
    <insert id="addConverFlow" parameterType="com.mrkb.dao.modle.user.ConverFlow"
		useGeneratedKeys="true" keyProperty="conver_id">
		insert into conver_flow
		(user_basics_id,conver_type,conver_num,conver_describe,conver_date,conver_table,table_id)
		value (#{user_basics_id,jdbcType=INTEGER}
		,#{conver_type,jdbcType=INTEGER}
		,#{conver_num,jdbcType=INTEGER}
		,#{conver_describe,jdbcType=VARCHAR}
		,#{conver_date,jdbcType=BIGINT}
		,#{conver_table,jdbcType=VARCHAR}
		,#{table_id,jdbcType=INTEGER}
		);
	</insert>
</mapper>