<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/common :: common_resource"></div>
    <meta charset="utf-8">
    <title>员工</title>
    <style type="text/css">
        .uploader-list {
            margin-left: -15px;
        }

        .uploader-list .info {
            position: relative;
            margin-top: -25px;
            background-color: black;
            color: white;
            filter: alpha(Opacity = 80);
            -moz-opacity: 0.5;
            opacity: 0.5;
            width: 100px;
            height: 25px;
            text-align: center;
            display: none;
        }

        .uploader-list .handle {
            position: relative;
            background-color: black;
            color: white;
            filter: alpha(Opacity = 80);
            -moz-opacity: 0.5;
            opacity: 0.5;
            width: 100px;
            text-align: right;
            height: 18px;
            margin-bottom: -18px;
            display: none;
        }

        .uploader-list .handle span {
            margin-right: 5px;
        }

        .uploader-list .handle span:hover {
            cursor: pointer;
        }

        .uploader-list .file-iteme {
            margin: 12px 0 0 15px;
            padding: 1px;
            float: left;
        }
    </style>
</head>
<body>
<!--列表-->
<div id="vueContainer">
    <div v-show="showList">
        <fieldset class="layui-elem-field site-demo-button"
                  style="margin-top: 30px;">
            <div>
                <button class="layui-btn" @click="add">
                    <i class="layui-icon layui-icon-add-1"></i>新增
                </button>
                <button class="layui-btn" @click="update">
                    <i class="layui-icon layui-icon-update-1"></i>更换员工
                </button>
            </div>
        </fieldset>

        <table class="layui-table" lay-filter="test">
            <thead>
            <tr>
                <th>NO</th>
                <th>用户编号</th>
                <th>姓名</th>
                <th>手机号</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in data">
                <td>{{item.user_information_id}}</td>
                <td>{{item.user_basics_id}}</td>
                <td>{{item.information_compellation}}</td>
                <td>{{item.information_phone}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- 新增面板 -->
    <div v-show="!showList" class="layui-card">
        <div class="layui-card-header">{{title}}</div>
        <div class="layui-card-body">
            <form class="layui-form">
                <div class="layui-form-item" >
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-block" id="selectGrade">
                        <select name="user_grade_id" id="user_grade_id"
                                lay-filter="user_grade_id">
                            <option value="7">员工</option>
                        </select>
                    </div>
                </div>
                <input id="addupdate" style="display:none;" value="">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">用户编号</label>
                        <div class="layui-input-block" style="width: 300px;">
                            <input type="text" name="user_basics_id" id="user_basics_id"
                                   v-model="UserInformationEntity.user_basics_id" placeholder="请输入用户编号"
                                   autocomplete="off" class="layui-input">

                        </div>
                    </div>
                    <div class="layui-inline">
                        <button type="button" onclick="findUserInformation();" class="layui-btn layui-btn-normal"><i class="layui-icon layui-icon-fonts-clear"></i>查询</button>
                    </div>
                </div>
                <div class="layui-form-item" id="name" style="display:none;">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="information_compellation" id="information_compellation"
                               v-model="UserInformationEntity.information_compellation" placeholder="" readonly="readonly"
                               autocomplete="off" class="layui-input">
                    </div>

                </div>
                <div class="layui-form-item" id="oldid">
                    <div class="layui-inline">
                        <label class="layui-form-label" id="odlyhbh">推荐人用户编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="old_user_basics_id" id="old_user_basics_id"
                                   v-model="UserInformationEntity.old_user_basics_id" placeholder=""
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button type="button" onclick="findUserInformation2();" class="layui-btn layui-btn-normal"><i class="layui-icon layui-icon-fonts-clear"></i>查询</button>
                    </div>
                </div>
                <!-- style="display:none;" -->
                <div class="layui-form-item" id="oldname" style="display:none;">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="old_information_compellation" id="old_information_compellation"
                               placeholder="" readonly="readonly"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="user_account_num" id="user_account_num"
                               v-model="UserInformationEntity.user_account_num" placeholder="请输入用户账号"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="text" name="user_password" id="user_password"
                               v-model="UserInformationEntity.user_password"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" id="views1" >
                    <label class="layui-form-label">视    频</label>
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" id="viewsid"><i class="layui-icon"></i>上传视频</button>
                    </div>
                </div>
                <div class="layui-form-item" id="views2" >
                    <label class="layui-form-label">视频路径</label>
                    <div class="layui-input-block">
                        <input type="text" name="consult_view" id="consult_view"
                               v-model="UserInformationEntity.consult_view" placeholder="" readonly="readonly" value=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="hidden" name="consult_picture"
                               v-model="UserInformationEntity.consult_picture" placeholder="请上传图片"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="upload">图片上传</button>
                        <blockquote class="layui-elem-quote layui-quote-nm"
                                    style="margin-top: 10px;width: 88%">
                            预览图：
                            <div class="layui-upload-list uploader-list"
                                 style="overflow: auto;" id="uploader-list"></div>
                        </blockquote>
                    </div>
                </div>
                <!-- <li class="clearfix"><label class="label_name col-xs-1"><i></i>内容介绍：&nbsp;&nbsp;</label>
                    <div class="Add_content col-xs-11"><script id="editor" type="text/plain" style="width:100%;height:500px;"></script></div>
                 </li>  -->

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn layui-btn-primary"
                                @click="save">
                            <i class="layui-icon layui-icon-ok"></i>提交
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary">
                            <i class="layui-icon layui-icon-refresh-3"></i>重置
                        </button>
                        <button class="layui-btn layui-btn-primary" @click="reload">
                            <i class="layui-icon layui-icon-return"></i>返回
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var active = {};
    $(function(){
        pagination();
    });
    var path = ""; //图片路径保存
    layui.use([ 'laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider', 'form', 'layedit' ], function() {
        var laydate = layui.laypage,
            layer = layui.layer, //弹层
            table = layui.table, //表格
            carousel = layui.carousel, //轮播
            upload = layui.upload, //上传
            element = layui.element, //元素操作
            slider = layui.slider, //滑块
            form = layui.form,
            laypage = layui.laypage,
            layedit = layui.layedit,
            $ = layui.jquery;
        //富文本图片上传
        layedit.set({
            uploadImage : {
                url : basePath + '/layuiupload/uploadNewsImg', //接口url
                type : 'post' //默认post
            }
        });
        var index = layedit.build('editor');
        $('.site-demo-layedit').on('click', function() {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //视频上传
        upload.render({
            elem: '#viewsid'
            ,url: basePath + '/layuiupload/uploadViews'
            ,accept: 'video' //视频
            ,done: function(res){
                alert("上传完成");
                $("#consult_view").val(res.data);
                vue.UserInformationEntity.consult_view=res.data;
                console.log(res)
            }
        });
        //执行实例
        var uploadInst = upload.render({
            elem : '#upload', //绑定元素
            multiple : true,
            exts : 'jpg|png|jpeg',
            size : 2048, //限制文件大小，单位 KB
            url : basePath + '/layuiupload/uploadNewsImg', //上传接口
            before : function(obj) {
                /*layer.close(layer.msg());//关闭上传提示窗口
                 */ //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result) {
                    $('#uploader-list').append(
                        '<div id="" class="file-iteme">' +
                        '<div class="handle"><span class="glyphicon glyphicon-trash"></span></div>' +
                        '<img style="width: 100px;height: 100px;" src=' + result + '>' +
                        '<div class="info">' + file.name + '</div>' +
                        '</div>'
                    );

                    //$('#uploader-list').append('<img  src="' + result + '" alt="' + file.name + 'style="width: 10px;height: 10px;"' + '" class="layui-upload-img">')
                });

                //layer.close(layer.msg()); //关闭上传提示窗口
                layer.msg('图片上传中...', {
                    icon : 16,
                    shade : 0.01,
                    time : 30
                })
            },

            done : function(res) {
                layer.close(layer.msg()); //关闭上传提示窗口
                //上传完毕回调
                path += res.data.src + ";";

                vue.UserInformationEntity.consult_picture = path;
            },
            error : function() {
                layer.msg('上传错误！');
                //请求异常回调
            }
        });
        form.on('select(user_grade_id)', function($event) { //绑定商品类型下拉框value的 值，判断下拉框是否显示
            var val = $event.value;
            if (val == 7) { //
                $("#oldid").show();
            } else {
                $("#oldid").show();

            }
        });

    });
    var vue = new Vue({
        el : "#vueContainer",
        data : {
            data : null,
            showList : true,
            title : null,
            UserInformationEntity : {},
        },
        methods : {
            add : function() {
                $("#odlyhbh").html("推荐人用户编号");
                $("#addupdate").val("1");
                vue.UserInformationEntity = {};
                vue.showList = false;
                vue.title = "新增";
                //初始化输入框或者选择框
                vue.UserInformationEntity = {
                    user_password:'letang123456'
                    //例如
                    /* course_type : 0, //将value值初始化
                    academic_type : 0, //将value值初始化
                    user_grade_id : 0, //将value值初始化
                    store_type : 0 //将value值初始化 */
                };
            },
            update : function() {
                $("#addupdate").val("2");
                $("#odlyhbh").html("老员工编号");
                vue.UserInformationEntity = {};
                vue.showList = false;
                vue.title = "更换员工";
                //初始化输入框或者选择框
                vue.UserInformationEntity = {
                    user_password:'letang123456'

                };
            },
            save : function() {
                var addupdate=$("#addupdate").val();
                if(addupdate==1){
                    var user_grade_id = $("#user_grade_id").val(); //会员等级
                    vue.UserInformationEntity.user_grade_id = user_grade_id; //会员等级
                    /**新增*/
                    var url = "/admin_company/adminAddCoFounder";
                    $.ajax({
                        type : "POST",
                        url : basePath + url,
                        contentType : 'application/json',
                        async : true,
                        data : JSON.stringify(vue.UserInformationEntity),
                        success : function(rs) {
                            if(rs.isSuccess){
                                layer.msg(rs.message);
                            }
                        },
                        error : function (rs) {
                            layer.msg("账号已存在，处理失败！");
                        }
                    });
                }else if(addupdate==2){
                    var user_grade_id = $("#user_grade_id").val(); //会员等级
                    var user_basics_id=vue.UserInformationEntity.user_basics_id;
                    var old_user_basics_id=vue.UserInformationEntity.old_user_basics_id;
                    var user_account_num=vue.UserInformationEntity.user_account_num;
                    if(user_basics_id==old_user_basics_id){
                        alert("新老员工不能是同一个人！");
                        return;
                    }
                    if(user_basics_id==null||old_user_basics_id==null){
                        alert("新老员工编号不能为空！");
                        return;
                    }
                    if(user_account_num==null||user_account_num==""){
                        alert("请输入新员工账号！");
                        return;
                    }
                    vue.UserInformationEntity.user_grade_id = user_grade_id; //会员等级
                    /**更换*/
                    var url = "/admin_company/adminUpdateCoFounder"
                    $.ajax({
                        type : "POST",
                        url : basePath + url,
                        contentType : 'application/json',
                        async : true,
                        data : JSON.stringify(vue.UserInformationEntity),
                        success : function(rs) {
                            layer.msg(rs.message);
                        }
                    });
                }

            },

            reload : function(event) {
                vue.showList = true;
            }
        }
    });
    function pagination() {
        //查询条件
        var param = {
            co_founder:4
            //其它查询条件可在下面添加
        };
        $.ajax({
            type : 'POST',
            url : basePath + '/admin_userInfo/findUserInformation/',
            dataType : 'json',
            data : param,
            async : false, //这里设置为同步执行，目的是等数据加载完再调用layui分页组件，不然分页组件拿不到totalCount的值
            success : function(data) {
                vue.data = data.data;
            }
        });
    }
    ;
</script>
<script type="text/javascript">
    function findUserInformation() {
        var user_basics_id=$("#user_basics_id").val();
        if(user_basics_id==null){
            return;
        }
        $.ajax({
            type: "GET",
            url: basePath+'/admin_userInfo/findUserInformOne',
            contentType:'application/json',
            async:true,
            data: {user_basics_id:user_basics_id},
            success: function (rs) {
                ifname(rs);
            },error:function(r){
                layer.msg(r.message);
            }
        });
    };
    function ifname(rs){
        if(rs!=null){
            if(rs.data!=null){
                var information_compellation=rs.data.information_compellation;
                $("#information_compellation").val(information_compellation);
                $("#name").show();
            }else{
                alert("该用户未实名认证!");
            }
        }else{
            alert("无该用户!");
        }
    };
    function findUserInformation2() {
        var user_basics_id=$("#old_user_basics_id").val();
        $.ajax({
            type: "GET",
            url: basePath+'/admin_userInfo/findUserInformOne',
            contentType:'application/json',
            async:true,
            data: {user_basics_id:user_basics_id},
            success: function (rs) {
                ifname2(rs);
            },error:function(r){
                layer.msg(r.message);
            }
        });
    };
    function ifname2(rs){
        if(rs!=null){
            if(rs.data!=null){
                var information_compellation=rs.data.information_compellation;
                $("#old_information_compellation").val(information_compellation);
                $("#oldname").show();
            }else{
                alert("该用户未实名认证!");
            }
        }else{
            alert("无该用户!");
        }
    };
</script>

</body>
</html>
